<div style="width: 100%; height: 50px; background: white;">
    <button>Learn More</button>
</div>

<div style=" width: 100%; background: #e4ded8; padding: 20px;">
    <div style="width: 100%; max-width: 1100px; margin: auto; display: grid; grid-template-columns: 1fr 1fr; grid-template-rows: 50px;">
        <div style="grid-column: 1;">{{heading}}</div>
        <img src="images/plans1.png" style="grid-column: 2; grid-row-end: span 2;">

        <div style="grid-column: 1;">
            <div *ngIf="param && param !== 'easy-wood-projects' && param !== 'woodworking-plans' && !isDefault">You’ve come to the right place. Explore a collection of over 16,000 woodworking plans, featuring detailed {{item}} plans and much more!</div>
        
            <div *ngIf="param && param === 'easy-wood-projects' && !isDefault">You’ve come to the right place. Discover over 16,000 woodworking plans and find easy DIY ideas to create beautiful pieces with ease.</div>

            <div *ngIf="!param || param === 'woodworking-plans' || isDefault">You get over 16,000 ready-made plans with clear instructions and easy-to-follow blueprints, making even the toughest projects super easy.</div>
            
            <div>
                <img src="images/check-mark.avif" style="width: 16px;">
                <span>It doesn’t matter what your current skill level is</span>
            </div>

            <div>
                <img src="images/check-mark.avif" style="width: 16px;">
                <span>It doesn’t matter what your budget is</span>
            </div>


            <div>
                <img src="images/check-mark.avif" style="width: 16px;">
                <span>And it doesn’t matter if you don’t have a full-scale shop</span>
            </div>

            <button>Learn More</button>
        </div>
    
        
        
    </div>
</div>

<div class="flex-container">
    <div>
        <!-- <div style="width: 80px; height: 80px; background: #f3eeea; border-radius: 50%; margin: auto"></div> -->
        <img src="images/instructions-icon.png" style="width: 65px; display: block; margin: auto;">
        <div style="text-align: center; font-weight: bold; width: 100%; max-width: 110px; margin: auto;">Step By Step Instructions</div>

        <div style="width: 100%; max-width: 300px; margin: auto; text-align: center;">Experience the ease of constructing your {{item}} with step-by-step A to Z instructions, ensuring a swift, enjoyable building process.</div>
        
    </div>


    <div>
        <!-- <div style="width: 80px; height: 80px; background: #f3eeea; border-radius: 50%; margin: auto"></div> -->
        <img src="images/materials-list-icon.png" style="width: 65px; display: block; margin: auto;">
        <div style="text-align: center; font-weight: bold; width: 100%; max-width: 110px; margin: auto;">Cutting & Materials Lists</div>

        <div style="width: 100%; max-width: 300px; margin: auto; text-align: center;">Get precise cutting and materials lists for your {{item}} to ensure you buy the right amounts and avoid unnecessary expenses.</div>
    </div>


    <div>
        <!-- <div style="width: 80px; height: 80px; background: #f3eeea; border-radius: 50%; margin: auto"></div> -->
        <img src="images/schematics-icon.png" style="width: 65px; display: block; margin: auto;">
        <div style="text-align: center; font-weight: bold; width: 100%; max-width: 110px; margin: auto;">Detailed Schematics</div>

        <div style="width: 100%; max-width: 300px; margin: auto; text-align: center;">You get detailed schematics that practically guide your project to assemble itself, enabling you to complete your {{item}} in a fraction of the time.</div>
    </div>


    <div>
        <div style="width: 80px; height: 80px; background: #f3eeea; border-radius: 50%; margin: auto"></div>
        <div style="text-align: center; font-weight: bold; width: 100%; max-width: 110px; margin: auto;">Multiple Views From All Angles</div>

        <div style="width: 100%; max-width: 300px; margin: auto; text-align: center;">Gain confidence before starting your {{item}} by examining detailed visualizations showcasing every angle, corner, and joint.</div>
    </div>


    <div>
        <div style="width: 80px; height: 80px; background: #f3eeea; border-radius: 50%; margin: auto"></div>
        <div style="text-align: center; font-weight: bold; width: 100%; max-width: 110px; margin: auto;">Suitable for Beginners & Pros</div>

        <div style="width: 100%; max-width: 300px; margin: auto; text-align: center;">These {{item}} plans are thoughtfully crafted to embrace individuals of varying skill levels, ensuring success for beginners and seasoned professionals alike.</div>
    </div>
    
    
</div>



<div style="background: #ededed; width: 100%;">
    <div style="width: 100%; max-width: 1100px; margin: auto; display: grid; grid-template-columns: 1fr 1fr; grid-template-rows: 50px;">
        <img src="images/plans2.png" style="grid-column: 1; grid-row-end: span 2; max-width: 350px; width: 100%;">
        
        
        

        <div style="grid-column: 2;">
            <div>Make Any Project Easy and Hassle-Free!</div>

            <div>
                <img src="images/check-mark.avif" style="width: 16px;">
                <span>You get a unique package that guides you through the project with easy-to-follow steps.</span>
            </div>


            <div>
                <img src="images/check-mark.avif" style="width: 16px;">
                <span>Receive ready-made blueprints and plans for more than 16,000 projects.</span>
            </div>


            <div>
                <img src="images/check-mark.avif" style="width: 16px;">
                <span>Enjoy a lifetime supply of monthly free plans with your purchase, ensuring a continuous stream of projects and ideas!</span>
            </div>


            <div>
                <img src="images/check-mark.avif" style="width: 16px;">
                <span>Request tailor-made woodworking plans for your unique and challenging project.</span>
            </div>

            <div>
                <img src="images/check-mark.avif" style="width: 16px;">
                <span>Finish any project swiftly, affordably, and achieve professional results every single time.</span>
            </div>

        </div>
    
        
        
    </div>

    <button>Learn More</button>
</div>
