@import '../../../styles/flexbox-grid';

$theme-color: #ee4700;

a {
    width: 100%;
    max-width: 160px;
    display: block;
}

.header {
    width: 100%;
    height: 50px;
    background: #ffffff;
    border-bottom: 3px solid $theme-color;
    position: fixed;
    top: 0;

    .button-container {
        width: 100%;
        height: 100%;
        max-width: 68vw;
        display: flex;
        align-items: center;
        justify-content: flex-end;

        a {
            margin: 0 10px;
        }
    }

    @media screen and (max-width: 1920px) {
        .button-container {
            max-width: 1300px;
        }
    }
}

button {
    width: 100%;
    border-radius: 5px;
    background: #ee4700;
    font-size: 18px;
    color: white;
    padding: 5px 2px;
}


.top-section {
    width: 100%;
    background-image: url('/images/wood-background.avif');
    background-color: #e7e2de;
    margin-top: 50px;
    padding: 20px 10px;

    .grid {
        width: 100%;
        margin: auto;
        // display: grid;
        // grid-template-columns: 400px 1fr;
        // column-gap: 20px;
        max-width: 700px;
    }

    .heading {
        font-size: 30px;
        color: #1c1a1a;
        grid-column: 1;
        margin-bottom: 20px;
    }


    .column1 {
        grid-column: 1;

        .text {
            margin-bottom: 20px;
        }
    }

    .plans,
    .ted {
        grid-column: 2;
        grid-row-end: span 2;
        grid-row-start: 1;
        display: block;
        margin: auto;
    }

    .plans {
        max-width: 560px;
    }

    .ted {
        max-width: 307px;
    }


    @media screen and (max-width: 900px) {
        .grid {
            grid-template-columns: 1fr;
        }

        .plans,
        .ted {
            grid-column: 1;
            grid-row: 2;
            margin: 0 auto 20px;
        }
    }
}

.list {
    margin-bottom: 20px;

    .list-item {
        display: flex;
        align-items: baseline;

        &:not(:last-child) {
            margin-bottom: 12px;
        }

        img {
            width: 16px;
            height: 12px;
            margin-right: 5px;
        }
    }
}


.mid-section {
    padding: 17px 10px 0;

    .heading {
        font-size: 30px;
        text-align: center;
    }

    a {
        display: block;
        margin: 0 auto 20px;
    }


    .flex-container {
        @include flex-grid(5, (1280px, 1024px, 800px, 500px), 1500px);
        margin-top: 10px;

        &>div {
            padding: 20px;

            img {
                width: 65px;
                display: block;
                margin: auto;
            }

            div:nth-child(2) {
                text-align: center;
                font-weight: bold;
                width: 100%;
                max-width: 155px;
                margin: 10px auto;
            }

            div:nth-child(3) {
                width: 100%;
                max-width: 300px;
                margin: auto;
                text-align: center;
                color: #2e2e2e;
            }
        }
    }
}


// .bottom-section {
//     background: #ededed;
//     width: 100%;
//     padding: 20px;

//     .grid {
//         width: 100%;
//         max-width: 1000px;
//         margin: auto;
//         display: grid;
//         grid-template-columns: 1fr 1fr;
//     }

//     .plans {
//         grid-column: 1;
//         grid-row-end: span 2;
//         max-width: 380px;
//         width: 100%;
//         display: block;
//         margin: auto;
//         margin-bottom: 20px;
//     }


//     .heading {
//         grid-column: 2;
//         font-size: 24px;
//         font-weight: bold;
//         margin-bottom: 20px;
//         text-align: center;
//     }

//     .list {
//         grid-column: 2;
//     }

//     a {
//         margin: 10px auto 0;
//     }


//     @media screen and (max-width: 900px) {

//         .heading,
//         .list {
//             grid-column: 1;
//         }

//         .plans {
//             grid-row: 2;
//         }

//         .grid {
//             grid-template-columns: 1fr;
//         }
//     }
// }



@media screen and (max-width: 200px) {

    .top-section,
    .mid-section {
        padding: 10px 5px;

        .heading {
            font-size: 18px;
        }
    }

    .mid-section {
        .flex-container>div {
            padding: 5px;

            div:nth-child(3) {
                font-size: 16px;
            }
        }
    }

    // .bottom-section {
    //     .list-item {
    //         font-size: 15px;
    //     }
    // }
}