<div class="container">
    <div class="grid">

        <div class="heading-container">
            <div>
                {{header1}}
            </div>
    
            <div>
                {{header2}}
            </div>
        </div>

        <div style="grid-column: 1; ">
            <a [href]="hoplink">
                <button>Apply Now</button>
            </a>
        
            <div class="text">{{text}}</div>
        </div>
    
        <img ngSrc="paid-online-writing-jobs.avif" width="542" height="455" ngSrcset="320w, 542w">
    </div>
</div>