<ns-header></ns-header>

<!-- Jamar -->
<div class="testimonial-container">
    <img class="profile-pic" src="assets/singorama/Jamar-pic.jpg">
    <div class="content">
        <div class="name">Jamar</div>
        <img src="assets/shared/stars.png">
        <p>I love singing... It's almost as easy as breathing... Still I realise that I need to get better at my art.
            Singorama has been an awesome experience. It's an amazing tool to have as it will actually make you a better
            singer and I highly recommend it.</p>
        <img class="video" src="assets/singorama/Jamar-video.jpg" (click)="videoService.playYouTubeVideo('c7ZQoQaZFbE')">
    </div>
</div>




<!-- Madi -->
<div class="testimonial-container">
    <img class="profile-pic" src="assets/singorama/Madi-pic.jpg">
    <div class="content">
        <div class="name">Madi</div>
        <img src="assets/shared/stars.png">
        <p>I'm Madi! I love music and I've been singing since I was a baby in the crib. I used to have a bit of trouble
            with my breathing and range. I was browsing online and came across Singorama and it's completely helped to
            improve my vocals. Thank you SO much!</p>
        <img class="video" src="assets/singorama/madi-video.jpg" (click)="videoService.playYouTubeVideo('xljjk3HsmaM')">
    </div>
</div>



<!-- Jessica Stephens -->
<div class="testimonial-container">
    <img class="profile-pic" src="assets/singorama/Jessica-Stephens-pic.png">
    <div class="content">
        <div class="name">Jessica Stephens</div>
        <img src="assets/shared/stars.png">
        <p>My name is Jessica. I’ve been a singer for years and years, since I was very little. I’ve sung in various
            choirs, ensembles, professional theatres, won awards in competitions and so on. I’ve been classically
            trained, but I have sung many different kinds of music. A few months ago I was working for a professional
            theatre in North Carolina and had seven performances a week with very little to no warm up time, and no
            understudies!</p>

        <p>Needless to say, this was taking a toll on my voice. I am a first soprano and can usually hit
            an “F” over high “C” but I was lucky if I could hit a “D”—and it was really starting to hurt. I needed help.
            I needed to go back to the basics and re-learn, but I didn’t have much money, the nearest city was half an
            hour away, and I travel quite a lot so a voice teacher was out of the question.</p>


        <P>I did an internet search of online singing courses and found Singorama to be the best thing for me. It has
            really helped save my voice, and especially helped me sing through the “breaks” in my voice without damaging
            anything! Currently, I am part of an international choir in Seoul, and am able to hit the high notes, no
            problem! I would very much like to say thank you to everyone on the Singorama team!</P>
    </div>
</div>





<!-- Roland Smithers -->
<div class="testimonial-container">
    <img class="profile-pic" src="assets/singorama/roland-smithers-pic.jpg">
    <div class="content">
        <div class="name">Roland Smithers</div>
        <img src="assets/shared/stars.png">
        <p>Hello. I am just calling from Ireland. I bought the Singorama package to help me sing about a year ago. Now,
            I have to say it is the most comprehensive and fun course that I have ever experienced. I was so surprised
            that I could do this in my own time, like in the evenings after I do my day job and that is what inspired me
            to then purchase a studio.</p>

        <p>Using the mini studio with a Mac and the other software, I have actually written
            two songs which are going to be published very soon. So I am very, very happy with the strength of vocals
            and the range of harmonies that I can actually do. So again, I can't reiterate how happy I am to receive the
            products and I wish Singorama all the best for the future.</p>
    </div>
</div>




<!-- Colleen Villanueva -->
<div class="testimonial-container">
    <img class="profile-pic" src="assets/singorama/Colleen-Villanueva-pic.jpg">
    <div class="content">
        <div class="name">Colleen Villanueva</div>
        <img src="assets/shared/stars.png">
        <p>I have only been into choir singing for 2 1/2 years and from the start I was categorized as a first soprano.
            I could reach the high notes easily, but the tone wasn't as full and resonant as our choir director expected
            it to be, and I had a tendency to go sharp on my high notes though I felt I was on the right pitch. I could
            see that much was expected of me, so I was on the lookout for any package available out there that would
            help me catch up with the demand of the pieces and the singing level of the longer-staying members.
        </p>


        <p> Worse was my tendency to shoot out and sing sharp as I was the newly appointed obligato! Frustrated but not
            willing to give up, I searched and found SINGORAMA! The unique features instantly became my best friends.
            SINGORAMA! Mini Recording Studio allowed me to hear my own voice and chart my progress. Perfect Your Pitch
            Trainer Pro was a challenging but fun game that sharpened my musical ear (no more sharps now!). The special
            exercises on resonance helped me achieved a more quality tone, and the tips on stage performance
            significantly lessened my "solo stage fright."</p>

        <p>Now, I'm not hitting sharps anymore, and my co-members say
            that the quality of my tone sounds fuller and much more professional than before. When the audience comments
            on our performance, the first sopranos receive special comments, and I'm proud because I'm one of them! Two
            weeks ago, we held a benefit concert and friends commented on how confident I looked on stage! People who've
            been with me from the start say my voice is more cultured now, and after I graduate I have an offer to
            become the vocalist of a band! Two thumbs up to SINGORAMA!</p>
    </div>
</div>





<!-- Helen -->
<div class="testimonial-container">
    <img class="profile-pic" src="assets/singorama/Helen-pic.jpg">
    <div class="content">
        <div class="name">Helen</div>
        <img src="assets/shared/stars.png">
        <p>I've always loved singing, but I never had the confidence to sing in front of other people. I set my mind to
            achieve a goal... and that goal was to sing in the local choir. I really needed some help though - I was
            like a timid mouse and couldn't project my voice properly. My daughter came across a singing course online
            called Singorama, and I decided to give it a go. It was exactly what I needed to give me real insight into
            how the voice actually works and how to improve it. I'm so happy to say, that I am now a lead vocalist in my
            choir and couldn't be happier!</p>
    </div>
</div>




<!-- Claudia -->
<div class="testimonial-container">
    <img class="profile-pic" src="assets/singorama/Claudia-pic.jpg">
    <div class="content">
        <div class="name">Claudia</div>
        <img src="assets/shared/stars.png">
        <p>I've been singing since I was young, but I felt I needed help with my breathing and tone. Singorama has been
            amazing at helping me with these and more.</p>
    </div>
</div>



<!-- Angelique -->
<div class="testimonial-container">
    <img class="profile-pic" src="assets/singorama/Angelique-pic.jpg">
    <div class="content">
        <div class="name">Angelique</div>
        <img src="assets/shared/stars.png">
        <p>Friends have told me for a long time that I have a good voice... so I decided to buy a singing course to
            improve my singing skills and I found Singorama... It's an amazing guide and has taught me a lot.</p>
    </div>
</div>



<!-- Martel -->
<div class="testimonial-container">
    <img class="profile-pic" src="assets/singorama/Martel-pic.jpg">
    <div class="content">
        <div class="name">Martel</div>
        <img src="assets/shared/stars.png">
        <p>I sing for a living but knew I had some room for improvement, so searched on Google for a singing course and
            found Singorama. I haven't looked back... it's all you need!</p>
    </div>
</div>




<!-- Jennifer Punt -->
<div class="testimonial-container">
    <img class="profile-pic" src="assets/singorama/Jennifer-Punt-pic.jpg">
    <div class="content">
        <div class="name">Jennifer Punt</div>
        <img src="assets/shared/stars.png">
        <p>I want to say THANK YOU for creating such an amazing system. I'm so impressed with the versatility of
            Singorama. It truly is made for beginners and advanced singers alike! I've been singing since childhood, but
            due to some negative experiences, I started to lack confidence in my singing ability and fear of performing
            started to creep in. Through the detailed vocal exercises and being able to hear my own voice, along with
            the Mini Recording Studio, I've been able to make the necessary adjustments in my voice, improve my range,
            fine tune my pitch, and get back the confidence I needed. Thank you so much for bring back my joy in
            singing!</p>
    </div>
</div>




<!-- Jiang Junxuan -->
<div class="testimonial-container">
    <img class="profile-pic" src="assets/singorama/Jiang-pic.jpg">
    <div class="content">
        <div class="name">Jiang Junxuan</div>
        <img src="assets/shared/stars.png">
        <p>I would like to thank Singorama for this wonderful product! With this, I have managed a much better
            projection of my voice and my head voice has definitely improved through the course. I also liked the bonus
            software provided - Singorama! Mini Recording studio where I get to record and hear what I sound like during
            practice. Gosh...with all this training, I took part in a singing competition and got through to the finals!
            Thanks for all the wonderful lessons...you are the best!!</p>
    </div>
</div>



<!-- Kwecy Williams -->
<div class="testimonial-container">
    <img class="profile-pic" src="assets/singorama/Kwecy-Williams-pic.jpg">
    <div class="content">
        <div class="name">Kwecy Williams</div>
        <img src="assets/shared/stars.png">
        <p>Hi this is Kwecy Williams. In 2005, I served as the Youth Minister at one of the alegence of the manual
            covenant church at Maryland. I was informed that we would be doing a live recording at the end of the year
            and I had about six months to prepare myself. I knew that I had some problems with pitch and so I got online
            and I started searching out programmes that would help me with my pitch and I discovered Singorama. I got
            Singorama, worked with Perfect Your Pitch Pro - the results were wonderful and dramatic!</p>

        <p>We did record the
            project and I lead two of the songs that featured on the project of the Manual Covenant Church Live In
            Worship. So I highly recommend Singorama for those that want to work with their pitch. I do have to say that
            I got so much more than what I was looking for. Singorama also helped me with my timing and with reading
            music. I'm also featured as a writer on the project. The tools of Singorama definitely helped me to put
            together songs that are worthy of being recorded. Thanks!</p>
    </div>
</div>




<!-- Christine -->
<div class="testimonial-container">
    <img class="profile-pic" src="assets/singorama/Christine-Adamsonej-pic.jpg">
    <div class="content">
        <div class="name">Christine</div>
        <img src="assets/shared/stars.png">
        <p>Hello! My name is Christine and I am 27 years old. When I was a child i was always singing no matter where I
            was. I knew I would be singer and perform on a stage. But then came my teenage life. I still knew I want to
            sing, my heart told me so, but my mind was telling me that I would never be a great performer and singer, I
            would never sing on the big stage and I would never have lots of fans. This all is for lucky ones, not for a
            girl who lives so far from America and lives in a small village. And I listened to my mind not my heart. I
            was so stupid (sorry for this word). All my dreams about singing just vanished and I put my dream of life
            away. Till now!!! One day, I woke up and realized that singing will make my life complete.</p>


        <p>This is why I am
            here on this planet, this is what I was meant to do. Now, I can see it very clearly and that is why I bought
            your singing program. I bought your program in the next day and started to learn and sing. I sang every day
            and every month even when I was ill. I enjoyed all the exercises that I practiced. I followed every step you
            told me to do. But I wasn't just practicing these exercises. As I was singing, I listened to what kind of
            sound came out; what happens with my tongue and throat - every
            small detail. First changes I felt after a
            month. I was always singing in a heady voice. I had a weak, breathy tone. I couldn't sing long sentences,
            because of my breath control.</p>

        <p>Some notes I sang in my nose. But after that month I started to sing in my
            chest voice, it became stronger and deeper. High notes weren’t causing that much problems like before. I
            could sing higher. Then after lesson two I found my mix voice and that was a big moment of happiness for me.
            But I was still struggling with my breaks. Sometimes I just couldn't get into this break smoothly and nice.
            But I didn't give up. I was especially working on these break problems. Now it is almost perfect!!! It's
            been five months and I have been practicing singing with your program and I
            sing very well now. With every passing day, I learn something new about my voice and every day it becomes
            stronger and better.</p>

        <p>I am still practicing warm-up lessons and style lessons. It is so fun and interesting
            to find out how far your voice can go and how good it can be. But I don't want to stop on that. This is my
            dream and I want to move on to
            the next level. The most important thing is NOT for me to have a perfect voice just to get a lot of money
            and be popular. No!!! I want to have this strong and good voice for myself - for my soul, heart and my fans.
            I want to sing and feel that my heart and soul are dancing in me; also to feel lucky and loved. Only then
            will I feel truly fulfilled. Thank you for living on this earth and helping people to find their true voices
            inside them. You have helped make their dreams come true. You are the greatest. You have my respect.</p>
    </div>
</div>




<!-- John Elsfelder -->
<div class="testimonial-container">
    <img class="profile-pic" src="assets/singorama/John-Elsfelder-pic.png">
    <div class="content">
        <div class="name">John Elsfelder</div>
        <img src="assets/shared/stars.png">
        <p>Yes, hello. My name is John Elsfelder. I have been very successful with your course. I am very pleased. I
            actually was able to improve my voice and go into a studio and record a song that I wrote and I am trying to
            make it in the business, even at my age. I'm 48 years old, but I am going to do it. And I had a great time
            in the studio and I can even send you my song, so you can hear how good it sounds. I think the course is
            awesome. I love the technique about warm-ups, I really liked that. It really has helped me.</p>

        <p>In fact, I did
            that before I actually went into the studio. Anyway, I have a finished song, and I'm going to do 3 Christmas
            songs, hand them out to my family for Christmas on December 9th, and on December 16th I am going into the
            studio to record 2 more songs that I have written. I have written 9 songs so far. I just want to make it
            into the business, I'm trying to get on the radio. Everyone that has listened to my song loves it, and if I
            could get radio airplay it would be a hit. I'm just trying to make it and your course has really helped me a
            lot. I really, really am glad that I bought your course.</p>
    </div>
</div>



<!-- Glenda Lynn Rose -->
<div class="testimonial-container">
    <img class="profile-pic" src="assets/singorama/Glenda-Rose-pic.png">
    <div class="content">
        <div class="name">Glenda Lynn Rose</div>
        <img src="assets/shared/stars.png">
        <p>My name is Glenda Rose and I want to tell you how great Singorama is. I first purchased the program when I
            became involved in the music ministry at my church. At the time, we were using CDs and singing with them,
            but I wasn't satisfied with that. We had talented musicians (I myself play piano, and we have an incredible
            lead guitarist and percussionist), but without the backup singers on the CDs there was no confidence in our
            small group of singers. I started using Singorama and it helped me help our group by learning warm up
            techniques that I could share and also by helping my ear training. I love the game-like pitch training
            module. It helped me hear the harmony lines better which let us get away from using CD backups and create
            our own sound as a group. I'd highly recommend this program for anyone who is interested in improving their
            singing.</p>
    </div>
</div>




<!-- Adam Price -->
<div class="testimonial-container">
    <img class="profile-pic" src="assets/singorama/Adam-Price-pic.png">
    <div class="content">
        <div class="name">Adam Price</div>
        <img src="assets/shared/stars.png">
        <p>My name is Adam and I've been singing for about a year now and have gone from being a pure beginner to coming
            third out of 100 competitors where 40 or so were quite strong singers! When I first started to learn how to
            sing I just went to karaoke bars and blasted out a tune, a lot of the time in a very strained way, because I
            never new how sound worked in the first place. Then after a while a few of the singers mentioned I should
            get singing lessons as I had a good base voice with potential. Not being someone who wanted to go and get
            lessons from a teacher, I turned to the internet and found Singorama. I have to say their singing tools and
            explanations of how sound works (which I never had any understanding of before) or what articulators and
            resonators were in my voice and how they effectively created an "unstrained" sound.</p>

        <p>But from the audio
            ebooks that you supplied - combined with the real world examples that I could follow along with - was a real
            breath of fresh air. By doing what the book suggested and practicing the various scales, pitches and
            metronomes for 2 x 15 minute sessions daily and implementing what I learn into my songs, I discovered the
            bridge from just doing the exercise to adapting the exercises into my songs. My voice become stronger and
            stronger and I was able to hit notes that I never thought I would and produce sounds that shocked the heck
            out of everyone who heard me sing. I get praise now from many people when I sing in karaoke competitions.
            One judge even asked me "who is your teacher" and I must say I was proud to tell them I learn from a company
            online called "Singorama", to which she replied... "WOW! They really know their stuff, congratulations you
            have a beautiful voice.”
        </p>

        <p>Overall, I have to say that if you follow each lesson in Singorama from beginner to
            advanced you're going to learn a "heck of a lot" about musical notes and why it's so important to understand
            music in singing. You'll also learn how to produce sound, articulate and breath so that you don't run out of
            air on the high and big notes in songs (which I used to constantly do before this course) and so much more
            that I could write for a whole day on what I've learnt. Thank you so much Singorama for developing me from a
            pure beginner to someone who can hold his own on stage with very developed and seasoned entertainers. I
            would highly recommend you and your thorough course to anyone considering using it and "sticking" with the
            program step-by-step, that's the key.</p>
    </div>
</div>



<!-- Nadia E. -->
<div class="testimonial-container">
    <img class="profile-pic" src="assets/singorama/Nadia-E-pic.png">
    <div class="content">
        <div class="name">Nadia E.</div>
        <img src="assets/shared/stars.png">
        <p>...The other thing I really liked about singorama was your mini-recording studio that I found really valuable
            because you can't really improve your singing if you don't hear it. I was using an old tape recorder and
            it's just a pain when singing. You sing a few songs or a few scales, and then you want to find it again,
            ESPECIALLY if you left it a few days later. Then you’re like, “Oh wait where was that one, where was that
            practise, I need to know for the...” You can't find it and end up guessing which was which. Whereas with the
            Singorama Mini Recording Studio, everything is filed away. It’s just a lot more convenient and easier to
            use!</p>
    </div>
</div>




<!-- John Shea -->
<div class="testimonial-container">
    <img class="profile-pic" src="assets/singorama/John-Shea-pic.png">
    <div class="content">
        <div class="name">John Shea</div>
        <img src="assets/shared/stars.png">
        <p>Folks, I have been involved in community theatre for many, many years, both as an actor and as a techie. I've
            performed a wide variety of roles and done many different design and support jobs, but I never had the
            courage to audition for a musical part. I have always sung, could find and keep a pitch, and remember
            melodies, but my range was limited and I could not get volume without strain. It has always been a source of
            regret that I did not have what I thought it took to perform musically. Recently, I stage managed a
            production of Side Show, which has some glorious music and is sung throughout. I found myself so moved by
            the wonderful performances that I decided that I must force myself to audition sometime soon. But I knew
            that I needed help to improve my skills. I started looking for a vocal coach, but that was a tedious and
            frustrating exercise.</p>

        <p>And then I found Singorama on the web and decided to give it a try. The instructions
            were easy to follow and made sense. The exercises were engaging and not hard to stick with. Now, I am no
            spring chicken, and wasn't sure that much improvement was even possible. But it wasn't long at all before I
            started feeling results. By the time I had been at it a month, my range had started to extend, and not only
            higher, which I was expecting, but lower as well. But even more importantly, I learned how to understand
            what was happening physically and how to control what I did, so that I could expand and support my voice
            until it felt stageworthy. So, I went to a musical audition for the very first time and I rocked! I was
            confident, I felt wonderful, and my friends were amazed. Of course, I didn't get cast, but that is so not
            the point. My success is that I can now audition, I know that I will get cast and perform, and a new
            dimension in theatre is now open to me. I am so grateful and totally attribute it to your course! Thank you.
        </p>
    </div>
</div>



<!-- Darren K and Family -->
<div class="testimonial-container">
    <img class="profile-pic" src="assets/singorama/Darren-K-pic.jpg">
    <div class="content">
        <div class="name">Darren K and Family</div>
        <img src="assets/shared/stars.png">
        <p>Singorama Rocks! Have you ever searched the internet looking for a particular product? Maybe you want to know
            who makes the best Argyll Socks. You get a comprehensive list and start reading about each one. Once you
            have decided which is best, you now have to decide. “Do I go with my instincts and hope this product is
            actually good?” Sometimes you do well, sometimes you don’t. When I was looking for a product to help improve
            my singing I did the same thing. One thing that was different about this search though was that over and
            over Singorama was the product described by all as the best product out there to help improve ones singing
            skills. I decided my odds were good. Well, this was one of those purchases that was in the “do well” column.
            First the purchase was easy, secure and complete in very quick order.</p>

        <p>I had the software on my machine and
            ready to learn in minutes. The download contained a comprehensive and extensive offering of products. Fast
            forward to 18 months later. Singorama gets a good workout in our house. My wife, daughter and I all use the
            product. It's an excellent and entertaining tool for learning music. Also included is the Singorama manuals
            which are complete and very well-designed to help even the most basic of beginners. It is amazing how
            understanding some of the theory and basics of sound and singing can help improve even a mediocre voice like
            mine. I have noticed a great difference in how we all sing and we owe that to Singorama. Now when we sing
            Karaoke as a family the neighbors’ dogs have stopped howling. This is a great product and highly recommended
            by our family.</p>
    </div>
</div>




<!-- Jeff Berkeley -->
<div class="testimonial-container">
    <img class="profile-pic" src="assets/singorama/Jeff-Berkeley-pic.jpg">
    <div class="content">
        <div class="name">Jeff Berkeley</div>
        <img src="assets/shared/stars.png">
        <p>Hi Singorama Staff: When I bought your program, I didn't really expect too much. Though I am a passable
            veteran rock bass player, I was a very poor singer with no confidence or training. I got your program as
            more of a confidence booster than anything else, just hoping to contribute to my band's vocal success. But,
            as I got into it, even reluctantly, I discovered I could actually stay on key without growling (as was my
            usual). I was able to lessen my volume and improve my technique. I was able to even blend harmonies. Over
            the course of a few months, I have become a decent singer...in fact I have actually gotten compliments from
            show attendees (which, candidly, blew me away).</p>

        <p>Now I regularly sing lead on a couple of numbers per set and
            sing backup on a number of others. My bandmates actually expect me to add numbers I can sing now as opposed
            to being somewhat embarrassed for me when I tried to sing. Like anything else, good directed practice can't
            help but make you better. Singorama was and is my backroom teacher, giving me pointers, and showing me the
            dos and don'ts of singing. I'll keep at it alright, but I am just a beginner still, with a long way to go.
            Thanks, Singorama. Take care</p>
    </div>
</div>




<!-- Chris Greyling -->
<div class="testimonial-container">
    <img class="profile-pic" src="assets/singorama/Chris-Greyling-pic.jpg">
    <div class="content">
        <div class="name">Chris Greyling</div>
        <img src="assets/shared/stars.png">
        <p>Hi, I would like to thank you for a fine hands-on product. I especially liked the sing along examples! It’s
            one thing to read about something but to hear it and getting a chance to emulate it sure helps. One thing
            that the course has helped my vocal technique was connecting my chest and head voices. It also helped me
            with my breathing, posture, and articulation as well as breaking some bad habits. Since I am a
            singer/songwriter/guitarist, I enjoyed the advance book, and in particular the parts about song structure
            and singing on stage. I used to be a closet artist but since doing the course I have started performing at
            singer/songwriters’ evenings and recorded some of my songs! Thanks again for a great product!</p>
    </div>
</div>




<!-- Stan Tarbell -->
<div class="testimonial-container">
    <img class="profile-pic" src="assets/singorama/Stan-Tarbell-pic.jpg">
    <div class="content">
        <div class="name">Stan Tarbell</div>
        <img src="assets/shared/stars.png">
        <p>Hi. My name is Stan Tarbell, and I purchased the Singorama course about 2 months ago. I've always loved to
            sing, but have never had any real training, which has led to more than one embarrassing moment in front of a
            crowd. But Singorama is changing that. Because I love singing, I'm involved in a Christmas choir at work. We
            sing four-part, SATB harmonies to classic Christmas carols. I'm a tenor. This year, we decided to tackle Mel
            Torme's "The Christmas Song" (Chestnuts Roasting on an Open Fire).</p>

        <p>The tenor part for this number is brutal,
            beginning with the first odd note! Until recently, I've been able to survive in the choir by tracking with
            some of the other tenors who can really sing; I just made sure I blended in. And if there was a note I
            couldn't hit, I'd use falsetto or just lip-synch. I was eagerly anticipating the chance to apply what I'd
            been learning from Singorama to this year's choir numbers. And it wasn't long before I got my chance. The
            choir rehearsal we had just last week would've been my worst nightmare a few months ago: of the 6 tenors
            in the choir, I was the only one who showed up! Not a problem.</p>

        <p>With the confidence I'd gained from Singorama, I
            was able to come in strong and carry the part all by myself, without relying on anything but the other
            voices (we sing a cappella). My range has expanded dramatically, and I can now reach the higher E, F, and G
            notes in my head voice without straining. After the rehearsal, the director congratulated me on my strong
            "solo" performance, and of course I gave the credit to Singorama. Thought you'd like to know. Thank you,
            Singorama Team, for putting the joy back in singing!</p>
    </div>
</div>



<!-- Seria Foster -->
<div class="testimonial-container">
    <img class="profile-pic" src="assets/singorama/Seria-Foster-pic.jpg">
    <div class="content">
        <div class="name">Seria Foster</div>
        <img src="assets/shared/stars.png">
        <p>Previously, whenever singing along with the radio, I would try to imitate the singer and sometimes had
            trouble finding the correct key. Also, I couldn't finish the song without having tired and stressed vocal
            cords. For months I had been searching the internet, looking for a comprehensive teaching course that was
            affordable and did not require me to schedule classes with a person. Then I purchased Singorama, a very
            detailed and informative program that is clear and easy to learn. I definitely recommend this course to
            anyone who would like to improve vocal skills without having to dedicate time for scheduled sessions with a
            trainer.</p>

        <p>I was extremely satisfied with all of the included software programs that came with the course,
            especially the computer piano and voice record features. You rarely get to hear what you sound like to
            others and it definitely helps you to pinpoint the areas where you need more practice! You can use this
            program whenever the mood strikes for as little or as long of a lesson that you like! Learning the
            techniques is the hard part, but...practice makes perfect. The lesson plans are combinations of pitch and
            theory training in easy to understand formats.</p>

        <p>After learning and applying the Singorama lessons, my key
            recognition has improved and my vocal abilities have been strengthened. Now, I comfortably sing along with
            any music I want in the correct key and within my own vocal range. Plus, continued practice has allowed me
            to reach even higher notes than I did before. Thanks so much to the creator of Singorama for helping me
            improve my vocal abilities - keep up the good work and much continued success! Serious learners who buy this
            program will not be disappointed!</p>
    </div>
</div>