<ns-header></ns-header>

<!-- Video Section -->
<section>
    <div class="video-section-container">
        <div #playerBackground class="piano-player-background">
            <img ngSrc="piano-player-background" alt="Piano Player" fill priority
                ngSrcset="600w, 1080w, 1920w, 2560w" />
        </div>
        <div class="video-section-flex-container">
            <div class="left-flex"></div>
            <div class="right-flex">
                <div class="video-section-content">
                    <div class="pianoforall-logo">
                        <img ngSrc="piano-for-all" fill priority ngSrcset="360w, 1920w" alt="Pianoforall Logo">
                    </div>
                    <div class="discount-banner">
                        <div class="text">38% OFF TODAY</div>
                    </div>
                    <div class="pianoforall-video-thumbnail" (click)="videoService.playYouTubeVideo('uJrqEdDy-jA')">
                        <img class="pianoforall-video-thumbnail-image" ngSrc="video-thumbnail" fill priority
                            ngSrcset="360w, 1920w" alt="Pianoforall Trailer">
                        <img class="youtube-button" ngSrc="youtube-button" fill ngSrcset="360w, 1920w"
                            alt="YouTube Play Button">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- Product Section -->
<section>
    <div class="product-section-container">
        <div class="pianoforall-product-image">
            <img ngSrc="pianoforall-product" fill priority ngSrcset="360w, 500w, 1920w" alt="Pianoforall">
        </div>

        <P>Are you interested in learning how to play the piano or keyboard but don't know where to start? Well, you've
            come
            to the right place. <span style="color: #981127; font-weight: bold;">Pianoforall</span> is recognized as one
            of the <strong>best online piano courses</strong> in the world,
            having
            transformed the musical journeys of over 450,000 users for more than a decade. These beginner piano lessons are
            expertly
            crafted to guide students to an intermediate level at an accelerated pace, surpassing all other methods.
            While
            primarily tailored for beginners, individuals of any skill level can obtain significant benefits from this
            versatile piano course.</P>

        <p>The course kicks off with a focus on popular rhythm-style piano, gradually guiding you step-by-step into
            <strong>ballad style, blues, jazz, ragtime, improvisation, and the art of crafting original
                melodies</strong>. You'll then learn how
            to
            read sheet music while also mastering the skill of playing by ear. Eventually, you'll be able to play
            amazing
            Classical pieces, showcasing your musical proficiency. Whether you're a complete novice or looking to
            enhance
            your piano skills, <span style="color: #981127; font-weight: bold;">Pianoforall's</span> innovative
            methodology ensures an engaging and rewarding learning
            experience,
            setting the stage for a lifelong love of playing the piano or keyboard.
        </p>
    </div>
</section>


<!-- How It Works -->
<section>
    <div class="wave">
        <img ngSrc="wave" fill ngSrcset="360w, 600w, 1080w, 1440w, 1920w, 2560w" alt="Wave">
    </div>
    <div class="works-container">
        <div class="works-grid-container">
            <div class="works-heading">How Pianoforall Works</div>

            <p>Setting itself apart as an innovative platform for aspiring piano and keyboard players, Pianoforall
                delivers
                a comprehensive and dynamic learning experience. The program seamlessly integrates <strong
                    style="color: white;">interactive ebooks,
                    videos, and audios</strong> into an all-in-one package, revolutionizing the traditional methods of
                music
                education.
                As you delve into the content of each ebook, you have the flexibility to enhance your learning by
                clicking
                on accompanying audio or video elements instantly. This unique approach not only caters to different
                learning styles but also provides a truly immersive and engaging learning environment, making the
                journey of
                mastering the piano both effective and rewarding.</p>

            <p>Whether you find yourself on a <strong style="color: white;">computer, tablet, or smartphone</strong>,
                the process of learning to play the piano
                with Pianoforall is effortlessly enjoyable. These user-friendly online piano lessons boasts a total of
                <strong style="color: white;">300 step-by-step video lessons</strong>, collectively spanning <strong style="color: white;">over 25 hours</strong>, and features a vast library of audio
                lessons. Pianoforall's commitment to excellence shines through, providing you with a rich and dynamic
                learning environment to master the intricate art of playing the piano. The combination of comprehensive
                <strong style="color: white;">video and audio</strong> resources ensures a holistic approach to musical education, catering to your individual
                preferences and paving the way for a fulfilling piano-playing journey.</p>

            <div class="video-audio-image">
                <img ngSrc="video-audio" fill ngSrcset="360w, 1920w" alt="Video & Audio">
            </div>
        </div>
    </div>
</section>


<!-- Interactive eBooks -->
<section>
    <div id="ebooks">
        <h1>Interactive eBooks</h1>
        <div class="subheading">Use on all your devices – PC – Mac – Android – iOS – Tablets – Phones</div>

        <div class="ebooks-container">


            <div class="ebook">
                <img src="/assets/pianoforall/party-time.avif" alt="Party Time Rhythm Style Piano" loading="lazy"
                    fetchpriority="auto">
                <div class="ebook-title">Party Time Rhythm Style Piano</div>
                <p>With this first eBook, you’ll learn to play different rhythm styles for piano using chords. It
                    features 15
                    timeless party rhythms, fantastic piano chord ballads, numerous keyboard diagrams, tips, strategies,
                    formulas, and a variety of progressions inspired by classic songs. In just a few days, you'll become
                    the
                    heart and soul of any gathering.</p>
            </div>



            <div class="ebook">
                <img src="/assets/pianoforall/blues-rock-n-roll.avif" alt="Blues & Rock n Roll" loading="lazy"
                    fetchpriority="auto">
                <div class="ebook-title">Blues & Rock 'n' Roll</div>
                <p>Next, you’ll discover the art of playing rock 'n' roll piano and blues piano. Unlock the secrets
                    behind these
                    instantly recognizable rhythms that form the backbone of hundreds of classic songs. Impress your
                    friends
                    with the iconic sounds of legends like Fats Domino, Jerry Lee Lewis, Little Richard, and many more.
                </p>
            </div>



            <div class="ebook">
                <img src="/assets/pianoforall/chord-magic.avif" alt="Chord Magic" loading="lazy" fetchpriority="auto">
                <div class="ebook-title">Chord Magic</div>
                <p>In this third ebook, you'll discover more basic piano chords using clever memory tricks. Practice
                    cool chord
                    progressions inspired by popular songs. Master the art of swiftly changing chords by utilizing
                    inversions.
                    Plus, you’ll utilize a convenient piano chord chart and engage in speed learning exercises to become
                    a
                    proficient chord pro in no time!</p>
            </div>



            <div class="ebook">
                <img src="/assets/pianoforall/advanced-chords.avif" alt="Advanced Chords Made Easy" loading="lazy"
                    fetchpriority="auto">
                <div class="ebook-title">Advanced Chords Made Easy</div>
                <p>Now you're all set to delve into advanced piano chords, and Pianoforall guides you through the
                    process with
                    simplicity rather than technical complexity. You’ll explore numerous additional practice
                    progressions
                    inspired by popular piano songs.</p>
            </div>



            <div class="ebook">
                <img src="/assets/pianoforall/ballad-style.avif" alt="Ballad Style" loading="lazy" fetchpriority="auto">
                <div class="ebook-title">Ballad Style</div>
                <p>After gaining a solid understanding of chords, you’ll effortlessly craft a captivating piano ballad
                    and
                    seamlessly integrate it into melodies with just three simple steps. You’ll also discover the joy of
                    improvisation and crafting your own unique melodies.</p>
            </div>



            <div class="ebook">
                <img src="/assets/pianoforall/jazz-piano.avif" alt="Jazz Piano Made Easy" loading="lazy"
                    fetchpriority="auto">
                <div class="ebook-title">Jazz Piano Made Easy</div>
                <p>It's time to elevate your skills and delve into the world of jazz piano. You’ll discover effortlessly
                    easy
                    techniques that can be applied to any tune, whether it's standards, traditional jazz piano, modern
                    jazz
                    improvisation, flashy runs, cool riffs, chords, patterns, blues scales, or anything else you can
                    think of.
                </p>
            </div>


            <div class="ebook">
                <img src="/assets/pianoforall/advanced-blues.avif" alt="Advanced Blues & Fake Stride" loading="lazy"
                    fetchpriority="auto">
                <div class="ebook-title">Advanced Blues & Fake Stride</div>
                <p>In Book 7, you will delve deeper into the blues piano techniques introduced earlier. You’ll discover
                    various
                    methods to enhance your playing, master the art of improvising blues piano alongside the rhythms you
                    learned
                    in Book 2. As a bonus, you'll be guided through 'fake stride' and a fantastic rendition of The
                    Entertainer!
                </p>
            </div>



            <div class="ebook">
                <img src="/assets/pianoforall/taming-classics.avif" alt="Taming the Classics" loading="lazy"
                    fetchpriority="auto">
                <div class="ebook-title">Taming the Classics</div>
                <p>Through a combination of chord expertise and the assistance of Pianoforall Sight Reading tools, you
                    can now
                    explore the realm of classical piano, mastering pieces from renowned composers such as Beethoven,
                    Bach,
                    Chopin, Mozart, Strauss, Brahms, Eric Satie, Verdi, Scott Joplin, and many others.</p>
            </div>



            <div class="ebook">
                <img src="/assets/pianoforall/speed-learning.avif" alt="Speed Learning" loading="lazy"
                    fetchpriority="auto">
                <div class="ebook-title">Speed Learning</div>
                <p>Many people find the prospect of practicing scales and exercises unappealing, yet these activities
                    significantly accelerate the learning process. There's no need for them to be dull – in this final
                    ebook,
                    you'll discover enjoyable exercises in every key along with memory tricks that can be incorporated
                    at any
                    point in the Pianoforall course.</p>
            </div>
        </div>
    </div>


</section>


<!-- Sample Video -->
<section>
    <div class="sample-video-container">
        <h1>300 Step-by-step Video Lessons</h1>
        <div class="underline">
            <img ngSrc="underline" fill ngSrcset="360w, 1920w" alt="Underline">
        </div>

        <p>Pianoforall comprises 300 video lessons with detailed step-by-step instructions, amounting to a total
            duration of over 25 hours. Included below is a preview video from one of the lessons.</p>
        <div class="sample-video" (click)="videoService.playYouTubeVideo('t79QvigfvnU')">
            <img class="sample-video-image" ngSrc="sample-video" fill ngSrcset="360w, 1920w" alt="Sample Video">
            <img class="youtube-button" ngSrc="youtube-button" fill ngSrcset="360w, 1920w" alt="YouTube Play Button">
        </div>
    </div>
</section>


<!-- Perks -->
<section>
    <div class="perks-container">
        <div class="heading">
            PIANOFORALL PERKS
        </div>

        <div class="description">
            You’ll also get these amazing perks at no extra cost!
        </div>



        <div class="perks-content-container">


            <div class="perk">
                <img src="assets/pianoforall/offline-access.avif" alt="Offline Access" loading="lazy"
                    fetchpriority="auto">
                <div class="perk-title">OFFLINE ACCESS</div>
                <P>Pianoforall offers a unique piano learning experience with the convenience of offline access,
                    eliminating the need for constant internet connectivity. Say goodbye to concerns about slow video
                    streaming, as this course allows you to learn without relying on online access.</P>
            </div>


            <div class="perk">
                <img src="assets/pianoforall/any-device.avif" alt="On Any Device" loading="lazy" fetchpriority="auto">
                <div class="perk-title">ON ANY DEVICE</div>
                <P>Unlock the flexibility to learn piano on your own terms. Whether you prefer practicing on a computer,
                    tablet, or smartphone, this course enables seamless learning on any device. Effortlessly download or
                    transfer the course materials to all your gadgets, ensuring accessibility wherever and whenever you
                    choose to enhance your piano skills.</P>
            </div>



            <div class="perk">
                <img src="assets/pianoforall/learn-any-time.avif" alt="Learn At Any Time" loading="lazy"
                    fetchpriority="auto">
                <div class="perk-title">LEARN AT ANY TIME</div>
                <P>Pianoforall empowers learners to progress at their own pace, allowing for a personalized and
                    stress-free journey into piano mastery. Enjoy the freedom of setting your own schedule without the
                    pressure of deadlines, making the learning experience truly yours and tailored to your individual
                    timeline.</P>
            </div>


            <div class="perk">
                <img src="assets/pianoforall/free-updates.avif" alt="Free Updates for Life" loading="lazy"
                    fetchpriority="auto">
                <div class="perk-title">FREE UPDATES FOR LIFE</div>
                <P>Experience continuous improvement with Pianoforall, as all future updates come to you free of charge
                    – for life. Stay current with the latest enhancements and additions to the course without any
                    additional cost, ensuring your piano learning journey remains enriched and up-to-date over the long
                    term.</P>
            </div>



            <div class="perk">
                <img src="assets/pianoforall/one-time-payment.avif" alt="One-time Payment" loading="lazy"
                    fetchpriority="auto">
                <div class="perk-title">ONE-TIME PAYMENT</div>
                <P>Pianoforall offers a hassle-free learning experience with its one-time payment model, ensuring that
                    users enjoy lifetime access to the piano course without the burden of recurring payments or
                    subscriptions. With this straightforward approach, aspiring pianists can focus on mastering their
                    skills without worrying about ongoing financial commitments.</P>
            </div>



            <div class="perk">
                <img src="assets/pianoforall/great-support.avif" alt="Great Support" loading="lazy"
                    fetchpriority="auto">
                <div class="perk-title">GREAT SUPPORT</div>
                <P>Pianoforall piano course is renowned for its exceptional support system, providing students with
                    valuable assistance throughout their learning journey. The platform stands out by offering
                    personalized email support, ensuring that learners can easily reach out with questions or requests
                    for critiques, enhancing the overall educational experience and fostering a supportive learning
                    environment.</P>
            </div>
        </div>
    </div>
</section>


<!-- End -->
<section>
    <div id="end-container">
        <div class="logo-container">
            <div class="pianoforall-logo">
                <img ngSrc="piano-for-all" fill priority ngSrcset="360w, 1920w" alt="Pianoforall Logo">
            </div>

        </div>

        <div class="pianoforall-product-image">
            <img ngSrc="pianoforall-product" fill priority ngSrcset="360w, 500w, 1920w" alt="Pianoforall">
        </div>

        <div class="discount">38% OFF TODAY! <span>$49</span></div>
        <a [href]="hoplink" target="_blank">
            <button>VISIT OFFICIAL WEBSITE</button>
        </a>
    </div>
</section>


<!-- Money-back Section -->
<section>
    <div class="money-back-container">
        <div class="border">
            <div class="top-container">
                <img ngSrc="money-back" width="230" height="231" ngSrcset="1920w" alt="Money Back">
                <div class="top-content-container">
                    <div class="day">60-Day</div>
                    <div class="guarantee">100% Satisfaction Guarantee</div>
                    <p>Pianoforall prides itself on its unwavering commitment to your satisfaction,
                        exemplified by its robust 100% money-back guarantee extending for 60 days from the moment of
                        purchase.
                    </p>
                </div>

            </div>
            <div class="bottom-container">
                <p>This guarantee ensures peace of mind for you, allowing ample time to explore the
                    program thoroughly. If,
                    at any point within this period, you feel dissatisfied with the product, your progress, or the
                    overall
                    experience, a straightforward refund process awaits, requiring no explanations or justifications.
                    This
                    commitment underscores Pianoforall's confidence in its product's efficacy and dedication to ensuring
                    a
                    fulfilling musical journey for you.</p>
            </div>
        </div>
    </div>
</section>