<div class="background-image-container">
    <div class="background-image">
        <img ngSrc="piano-player-background.avif" alt="Piano Player" fill priority
            ngSrcset="360w, 720w, 900w, 1920w, 2560w" />
    </div>



    <div class="flex-container">
        <div class="left-flex"></div>
        <div class="right-flex">
            <div class="want-to-learn-text">Want to learn</div>
            <div class="how-to-play-text">how to play piano or keyboard<span>?</span></div>
        </div>
    </div>
</div>

<div class="heading">LEARN <span>HOW TO PLAY PIANO</span> TODAY!</div>

<img ngSrc="underline.avif" class="underline" width="900" height="30" ngSrcset="360w, 720w, 900w">

<div class="piano-lessons">
    Online Piano Lessons</div>
<div class="learn-piano">Learn Piano for
    Beginners</div>


<div class="learn-conainer">
    <div class="learn-text">You'll learn:</div>

    <div class="container" style="margin-bottom: 30px;">
        <div>
            <img ngSrc="check-mark.avif" class="check-mark" width="16" height="16" ngSrcset="16w">Chords
        </div>

        <div>
            <img ngSrc="check-mark.avif" class="check-mark" width="16" height="16" ngSrcset="16w">Exercises
        </div>

        <div>
            <img ngSrc="check-mark.avif" class="check-mark" width="16" height="16" ngSrcset="16w">Scales
        </div>

        <div>
            <img ngSrc="check-mark.avif" class="check-mark" width="16" height="16" ngSrcset="16w">How to
            improvise
        </div>

        <div>
            <img ngSrc="check-mark.avif" class="check-mark" width="16" height="16" ngSrcset="16w">How to read
            sheet music
        </div>

        <div>
            <img ngSrc="check-mark.avif" class="check-mark" width="16" height="16" ngSrcset="16w">How to write
            your own music
        </div>

        <div>
            <img ngSrc="check-mark.avif" class="check-mark" width="16" height="16" ngSrcset="16w">How to play by
            ear
        </div>

        <div>
            <img ngSrc="check-mark.avif" class="check-mark" width="16" height="16" ngSrcset="16w">Plus much, much
            more!
        </div>
    </div>
</div>


<div class="click-button-text">*Click the button below to
    learn more about it!</div>

<a [href]="hoplink">
    <button>LEARN MORE</button>
</a>