<div class="container">
    <div class="grid">

        <div class="heading-container">
            <div class="heading1">
                {{heading}}
            </div>

            <div class="heading2">
                Make money from the comfort of your own home
            </div>
        </div>

        <div style="grid-column: 1; ">
            <a [href]="hoplink">
                <button>Learn More</button>
            </a>

            <div class="text">Are you looking for an online job that you can do from home? Do you have a laptop, tablet,
                or phone with a reliable internet connection? If so, this <strong style="color: #fd7a2a;">{{keyword}}</strong> could be for you. Full training is provided, and you can get started right
                away!</div>
        </div>

        <img ngSrc="live-chat.avif" width="542" height="455" ngSrcset="320w, 542w, 644w" priority>
    </div>
</div>