<ns-header></ns-header>
<div class="banner" style="margin-top: 110px;">General Questions</div>

<div class="faq-container">
    <div class="question-answer">
        <div class="q">Q:</div>
        <div class="right-container">
            <div class="question">Why is Pianoforall different from other piano methods?</div>
            <p>Pianoforall is the most logically structured piano course available. Pianoforall doesn't just throw
                ideas at you randomly. Each bite sized lesson has been meticulously planned so that step-by-step you
                learn a thorough set of piano playing skills in a very short space of time.</p>

            <p>Video and audio lessons open on the page you are working on – you don't have to go from books to videos –
                at each stage you know exactly where you are.</p>
        </div>
    </div>
</div>



<div class="faq-container">
    <div class="question-answer">
        <div class="q">Q:</div>
        <div class="right-container">
            <div class="question">I am a complete beginner. Will Pianoforall be too hard for me?</div>
            <p>Pianoforall doesn't expect anything musical from you nor does it expect that you have to
                memorize any piano sheet music. If you simply follow the instructions, you will learn to play piano by
                ear, improvise, create compositions and then eventually read piano sheet music.</p>

            <p>Pianoforall helps you to see the keyboard (and piano sheet music) in a new way. Instead of a frightening
                alien language you will learn to see the keyboard in terms of SHAPES and PATTERNS. This is one reason
                why the piano is one of the easiest instruments to learn – the shapes and patterns are so easy to see on
                a keyboard.</p>
        </div>
    </div>
</div>




<div class="faq-container">
    <div class="question-answer">
        <div class="q">Q:</div>
        <div class="right-container">
            <div class="question">I can read piano sheet music already – what else will Pianoforall teach me?</div>
            <p>Lot's of people who can read sheet music, can usually only play what is written. Pianoforall teaches you
                how to play piano by ear, improvise and create compositions. Only being able to read sheet music is
                somewhat like being able to read the words of a Foreign language without knowing what it all means.</p>

            <p>Pianoforall teaches you the underlying structures of the music – what it all means – and why it all fits
                together the way it does without a lot of boring details. You'll only get what you need to be able to
                play piano.</p>
        </div>
    </div>
</div>



<div class="faq-container">
    <div class="question-answer">
        <div class="q">Q:</div>
        <div class="right-container">
            <div class="question">What age group is Pianoforall suited to? Are these adult beginner piano lessons?</div>
            <p>Pianoforall covers a wide age group. Adult beginners love the piano lessons because they learn so
                quickly, they don't have to spend too much time practicing and they get to avoid years of piano lessons.
            </p>

            <p>It's also great for teenagers who want a fun and cool way to learn piano or keyboards to play in a
                Band or in school. It isn't really designed for younger kids – that Book is coming soon</p>
        </div>
    </div>
</div>



<div class="faq-container">
    <div class="question-answer">
        <div class="q">Q:</div>
        <div class="right-container">
            <div class="question">How many hours will I need to practice each day?</div>
            <p>Pianoforall is so cleverly structured that you only need about 20 to 30 minutes each day to enable you to
                make rapid progress. Most people enjoy it so much they end up practicing much longer than that!</p>
        </div>
    </div>
</div>




<div class="faq-container">
    <div class="question-answer">
        <div class="q">Q:</div>
        <div class="right-container">
            <div class="question">How long before I sound good?</div>
            <p>You honestly will sound good within days (read the testimonials – it's TRUE!!:-)</p>
        </div>
    </div>
</div>



<div class="faq-container">
    <div class="question-answer">
        <div class="q">Q:</div>
        <div class="right-container">
            <div class="question">Does it matter if I learn on a piano or a keyboard?</div>
            <p>The lessons work equally well on a Piano or Keyboard. It's recommended for those who are learning
                keyboard to
                learn to play first before they get stuck relying on the keyboard functions. You really can easily learn
                to play keyboard and not just hit a button that does it for you!</p>
        </div>
    </div>
</div>






<div class="banner">Software Questions</div>


<div class="faq-container">
    <div class="question-answer">
        <div class="q">Q:</div>
        <div class="right-container">
            <div class="question">Do I need special software?</div>
            <p>Pianoforall ebooks are now in EPUB3 format with EMBEDDED Videos and Audios. For WINDOWS or ANDROID all
                you need is a terrific FREE ebook reader called KOTOBEE READER to open and view the ebooks. For MAC or
                iOS (iPad, iPhone) the ebooks will open in your Books app which is already installed on your device
            </p>
        </div>
    </div>
</div>



<div class="faq-container">
    <div class="question-answer">
        <div class="q">Q:</div>
        <div class="right-container">
            <div class="question">Is it easy to download everything?</div>
            <p>Absolutely! After the purchase you are directed to a downloads / user instructions page.
                You click on the download links and they automatically download to your computer. You then download the
                Kotobee ebook READER and that's it! If you want to download to your tablet or phone there are very
                clear instructions on the downloads site</p>
        </div>
    </div>
</div>



<div class="faq-container">
    <div class="question-answer">
        <div class="q">Q:</div>
        <div class="right-container">
            <div class="question">Can I print the books out?</div>
            <p>Yes – you can print out the entire book or just whatever pages you happen to be working on.</p>
        </div>
    </div>
</div>



<div class="faq-container">
    <div class="question-answer">
        <div class="q">Q:</div>
        <div class="right-container">
            <div class="question">Do I need to be online to access the lessons?</div>
            <p>No – there is no need to be online. Once you download Pianoforall everything is accessed from your
                computer only.</p>
        </div>
    </div>
</div>




<div class="faq-container">
    <div class="question-answer">
        <div class="q">Q:</div>
        <div class="right-container">
            <div class="question">Is it easy to use?</div>
            <p>It couldn't be easier! – Download – Open in Kotobee Reader – Read – Click and Play the Video and Audio.
            </p>
        </div>
    </div>
</div>



<div class="faq-container">
    <div class="question-answer">
        <div class="q">Q:</div>
        <div class="right-container">
            <div class="question">How long will it take to download?</div>
            <p>You can download everything at the same time or just one book at a time.
                The biggest book file size is just 400mb so they will download quickly.
                You will have permanent access to the downloads page.</p>
        </div>
    </div>
</div>



<div class="faq-container">
    <div class="question-answer">
        <div class="q">Q:</div>
        <div class="right-container">
            <div class="question">What happens if I lose the downloads for any reason?</div>
            <p>No problem – Just send Pianoforall an email and then you can download again – no extra charge.</p>
        </div>
    </div>
</div>



<div class="faq-container">
    <div class="question-answer">
        <div class="q">Q:</div>
        <div class="right-container">
            <div class="question">Can I put the lessons on my tablet or smartphone?</div>
            <p>Yes – the books work beautifully with Android or Apple Tablets and Smartphones. There are full
                easy-to-follow instructions with the downloads. iOS (iPad, iPhone) uses the built-in Books App to view
                the books. Android devices use a free app called KOTOBEE READER.</p>
        </div>
    </div>
</div>




<div class="faq-container">
    <div class="question-answer">
        <div class="q">Q:</div>
        <div class="right-container">
            <div class="question">Can I install the ebooks on a KINDLE FIRE Tablet</div>
            <p>The ebooks do not normally work with a Kindle Fire tablet. However, some students were able to make it
                work because they were able to download the KOTOBEE READER app to their Kindle Fire.</p>

            <p>So if you are able to figure that out, you may be able to get the ebooks to work. If all else fails, you
                can easily get a refund.</p>
        </div>
    </div>
</div>






<div class="banner">Purchase Questions</div>


<div class="faq-container">
    <div class="question-answer">
        <div class="q">Q:</div>
        <div class="right-container">
            <div class="question">Is it a one off payment? Will I be charged again at any time?</div>
            <p>Don't worry. You will only be charged once! Pianoforall will never be a subscription site because
                subscriptions are designed to make as much money from people as possible and that is not
                what Pianoforall is about!</p>
        </div>
    </div>
</div>



<div class="faq-container">
    <div class="question-answer">
        <div class="q">Q:</div>
        <div class="right-container">
            <div class="question">How secure are my details?</div>
            <p>Very secure. Pianoforall uses ClickBank, which is one of the worlds biggest online sellers of digital
                products.</p>
        </div>
    </div>
</div>



<div class="faq-container">
    <div class="question-answer">
        <div class="q">Q:</div>
        <div class="right-container">
            <div class="question">If I wanted a refund how difficult is it?</div>
            <p>If for any reason you need a refund, you can simply email Pianoforall and they will set it up for you immediately through
                Clickbank. Alternatively, you can ask for the refund directly through Clickbank. It takes a few days for their
                automated system to complete the refund but it never fails to do so.</p>
        </div>
    </div>
</div>