.video-section-container {
    margin-top: 70px;
    width: 100%;
    height: 575px;
    display: flex;
    padding: 10px 0;
    position: relative;
    background: black;
}

.background-image {
    width: 100%;
    height: 100%;
    background-position: 30%;
    background-repeat: no-repeat;
    position: absolute;
    left: 0;
    top: 0;
    animation: fade 24s infinite;
}

.singer-background1 {
    background-image: url('/assets/singorama/singer-background.png');
    animation-delay: 0s;
}

.singer-background2 {
    background-image: url('/assets/singorama/singer-background2.png');
    animation-delay: 8s;
}

.singer-background3 {
    background-image: url('/assets/singorama/singer-background3.png');
    animation-delay: 16s;
}

@keyframes fade {
    0% {
        opacity: 1;
    }

    20% {
        opacity: 1;
    }

    34% {
        opacity: 0;
    }

    88% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.video-container {
    position: relative;
    width: 596px;
    height: 335px;
    border: 3px solid #bf1313;
    cursor: pointer;
    background-image: url('/assets/singorama/video-thumbnail.png');
}

.fa-youtube {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 80px;
    color: #ff0000;
    cursor: pointer;

    &::after {
        content: "";
        background: #ffffff;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: -1;
        border-radius: 50%;
        transform: scale(0.6);
    }
}

.left-flex-container {
    flex: 1;
}

.right-flex-container {
    flex: 1;
    display: flex;
    margin-right: 20px;
    z-index: 5;
}

.info-container {
    width: 100%;
    max-width: 600px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 0 10px;
}

.heading {
    font-size: 39px;
    text-align: center;
    color: #d9dada;
    font-family: "century gothic";
    white-space: nowrap;
}

.percent-off {
    background: #bf1313;
    border-radius: 5px;
    color: #fffcf4;
    font-size: 68px;
    white-space: nowrap;
    text-align: center;
    font-weight: bold;
}


@media(max-width: 900px) {

    .left-flex-container {
        display: none;
    }

    .right-flex-container {
        margin-right: 0;
        justify-content: center;
    }

    .background-image {
        background: none;
        animation: none;
        background-position: 0%;
    }

    .video-section-container {
        background-image: url('/assets/singorama/mobile-background.png');
        background-size: cover;
    }
}


@media(max-width: 620px) {
    .percent-off {
        font-size: 11vw;
    }

    .video-section-container {
        height: 93vw;
    }

    .heading {
        font-size: 6vw;
    }

    .video-container {
        height: 53.056vw;
        width: 100%;
        background-size: cover;
    }

    .fa-youtube {
        font-size: 13vw;
    }
}


@media(max-width: 600px) {
    .video-section-container {
        background-image: url('/assets/singorama/mobile-background-sm.png');
    }
}


@media(max-width: 360px) {
    .video-section-container {
        background-image: url('/assets/singorama/mobile-background-xs.png');
    }

    .video-container {
        background-image: url('/assets/singorama/video-thumbnail-sm.png');
    }
}