.banner {
    width: 100%;
    text-align: center;
    background-color: #bc1313;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 38px;
    font-weight: bold;
    color: white;
    padding: 20px;
}


.bundle-image {
    background: url('/assets/singorama/singorama-full-bundle-lg.png');
    width: 1156px;
    height: 639px;
}


@media (max-width: 800px) {
    .bundle-image {
        background: url('/assets/singorama/singorama-full-bundle-sm.png');
    }
}

@media (max-width: 360px) {
    .bundle-image {
        background: url('/assets/singorama/singorama-full-bundle-xs.png');
    }
}

@font-face {
    font-family: 'cooper std';
    src: url('/assets/fonts/CooperBlackStd.otf');
}

@font-face {
    font-family: 'impact';
    src: url('/assets/fonts/impact.ttf');
}

@font-face {
    font-family: 'century gothic';
    src: url('/assets/fonts/GOTHIC.TTF');
}