.product-grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    width: 100%;
    max-width: 1700px;
    margin: auto;
    margin: 20px 0;
    padding: 0 20px;

    .bundle-image {
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        width: unset;
        height: 100%;
    }

    p {
        grid-column: 2;
        max-width: 730px;
        margin: auto;
    }
}

.img-container {
    grid-column: 1;
    grid-row-start: 1;
    grid-row-end: span 2;
    width: 872px;
    height: 482px;
    margin: auto;
}






@media (max-width: 1500px) {
    .img-container {
        width: 800px;
        height: 442px;
    }
}



@media (max-width: 1400px) {
    .product-grid-container {
        grid-template-columns: 1fr;

        p {
            grid-column: 1;
            max-width: 1000px;
        }
    }

    .img-container {
        grid-row-start: 2;
        width: 1000px;
        height: 553px;
    }

    
}


@media (max-width: 1080px) {
    .img-container {
        width: 100%;
        height: 50vw;
    }
}