.banner {
    width: 100%;
    text-align: center;
    background-color: #bc1313;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 38px;
    font-weight: bold;
    color: white;
    padding: 20px
}


.bundle-image {
    background: url('/assets/singorama-full-bundle-lg.png');
    width: 1156px;
    height: 639px;
}