.learn-section-container {
    display: flex;
    justify-content: center;
    padding: 0 10px;
}

.learn-section-title {
    font-size: 38px;
    font-weight: bold;
    color: #c02020;
    margin-top: 90px;
    text-align: center;
    margin-bottom: 20px;
}

.learn-item {
    display: flex;
    width: 100%;
    max-width: 700px;

    &:nth-child(1) {
        margin-left: 20px;
    }

    &:nth-child(2) {
        margin-left: -50px;
    }

    &:nth-child(3) {
        margin-left: -110px;
    }

    &:nth-child(5) {
        margin-left: -70px;
    }

    &:nth-child(6) {
        margin-left: -130px;
    }

    &:nth-child(7) {
        margin-left: -160px;
    }

    &:nth-child(8) {
        margin-left: -200px;
    }

    
}

.learn-item-text-container {
    margin-right: 20px;
}

.fa-check {
    color: #c02020;
    margin-right: 10px;
    margin-top: 2px;
}

.learn-item-subject {
    font-weight: bold;
}



.learn-items-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 870px;
    align-items: center;
}


.singer {
    background: url('/assets/singer.png');
    width: 400px;
    height: 1112px;
    background-repeat: no-repeat;
    z-index: 10;
}


.singer-small {
    background: url('/assets/singer-small.png');
    width: 347px;
    height: 586px;
    background-size: contain;
    background-repeat: no-repeat;
    display: none;
}




@media (max-width: 1120px) {
    .singer {
        display: none;
    }

    .singer-small {
        display: block;
    }

    .learn-items-container {
        height: unset;
    }

    .learn-item {
        margin-bottom: 30px;

        &:nth-child(1) {
            margin-left: 0;
        }
    
        &:nth-child(2) {
            margin-left: 0;
        }
    
        &:nth-child(3) {
            margin-left: 0;
        }
    
        &:nth-child(5) {
            margin-left: 0;
        }
    
        &:nth-child(6) {
            margin-left: 0;
        }
    
        &:nth-child(7) {
            margin-left: 0;
        }
    
        &:nth-child(8) {
            margin-left: 0;
        }
    }


    .learn-item-text-container {
        margin-right: 0;
    }


    .learn-section-container {
        position: relative;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }


    .learn-section-title {
        margin-top: 20px;
    }
}


@media (max-width: 350px) {
    .singer-small {
        width: 230px;
        height: 388px;
    }
}