.background-image {
    position: relative;
    width: 100%;

    img {
        object-fit: cover;
    }
}

.video {
    width: 95vw;
    max-width: 595px;
    cursor: pointer;
    position: relative;

    .youtube-play-button {
        max-width: 80px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        position: absolute;
    }
    
    @media (max-width: 600px) {
        .youtube-play-button {
            width: 12.5vw;
        }
    }
}