.header {
    background-color: #f5f5f5;
}

.header-button {
    background-color: #981127;
    color: #f5f5f5;
}

a {
    color: #353535;
}

.fa-bars {
    color: #646464;
}


.menu {
    background-color: #f5f5f5;
    border: 1px solid #797979;

    .fa-xmark {
        color: #353535;
    }
}