<div class="header">
    <div class="header-content-container">
        <!-- Menu Bars -->
        <i class="fa-solid fa-bars" (click)="toggleMenu(menu)"></i>

        <!-- Logo -->
        <div class="logo"></div>

        <div class="menu-items">
            <!-- Items -->
            <a *ngFor="let menuItem of menuItems" [routerLink]="menuItem.link">{{menuItem.name}}</a>

            <!-- Button -->
            <a [href]="hoplink" target="_blank">
                <button class="header-button">{{buttonLabel}}</button>
            </a>
        </div>
    </div>
</div>

<!-- Menu for mobile -->
<div #menu class="menu">
    <!-- Close -->
    <i class="fa-solid fa-xmark" (click)="toggleMenu(menu)"></i>

    <!-- Items -->
    <a *ngFor="let menuItem of menuItems" [routerLink]="menuItem.link" (click)="toggleMenu(menu)">{{menuItem.name}}</a>
</div>