<ns-header></ns-header>
<div class="banner" style="margin-top: 110px;">Common Questions</div>

<div class="faq-container">
    <div class="question-answer">
        <div class="q">Q:</div>
        <div class="right-container">
            <div class="question">Is this for beginners?</div>
            <p>The lessons start at complete beginner and go right through to advanced. Basically, you don’t need any
                prior musical or singing knowledge to start the course – you just need to start at the beginning and
                take it from there.</p>
        </div>
    </div>
</div>



<div class="faq-container">
    <div class="question-answer">
        <div class="q">Q:</div>
        <div class="right-container">
            <div class="question">Can I get Singorama as a hard copy book package?</div>
            <p>No. Singorama is available as a downloadable course only. Singorama is not sold as a hard copy mailed
                course. As a downloadable e-course, you can download Singorama to your computer and start using it
                within minutes! No waiting for delivery! Downloadable courses are cheaper, you can access them
                immediately, and are earth friendly – no paper, plastic, or waste of natural resources.</p>
        </div>
    </div>
</div>


<div class="faq-container">
    <div class="question-answer">
        <div class="q">Q:</div>
        <div class="right-container">
            <div class="question">What are the System Requirements for Singorama?</div>
            <p>Singorama is compatible for Mac & PC. Singorama works with Win98 and above. A CD writer isn’t necessary
                but is good if you want to create audio CD’s for your stereo.</p>
        </div>
    </div>
</div>



<div class="faq-container">
    <div class="question-answer">
        <div class="q">Q:</div>
        <div class="right-container">
            <div class="question">Can I put this onto more than one computer or Transfer to my laptop etc?</div>
            <p>Singorama is set up so that customers can access the members page as often as they require. If a customer
                wants to use Singorama on their home computer and or laptop then all they need to do is download the kit
                to their other computer. You can access the Singorama Members area at any time using your receipt number
                given to you at the time of purchase. Login using your receipt number at the Members Login Page.
                Singorama is not to be distributed to any other computers outside the owner’s home or work.</p>
        </div>
    </div>
</div>



<div class="faq-container">
    <div class="question-answer">
        <div class="q">Q:</div>
        <div class="right-container">
            <div class="question">Do I need any prior musical knowledge?</div>
            <p>Singorama is designed to take beginners with no previous musical knowledge through into an advanced level
                of singing skill and theory. Singorama uses software and lessons to gradually teach musical theory for
                singing.</p>
        </div>
    </div>
</div>



<div class="faq-container">
    <div class="question-answer">
        <div class="q">Q:</div>
        <div class="right-container">
            <div class="question">I have dial 56k modem, Can I download this with out it taking ages?</div>
            <p>It is recommend that users with a dial up internet connection download the Installers or separate
                components or lessons separately. The package is over 50megs and is ideal for people with a broadband
                connection.</p>
        </div>
    </div>
</div>


<div class="faq-container">
    <div class="question-answer">
        <div class="q">Q:</div>
        <div class="right-container">
            <div class="question">My son is 8 years old, will this course work for him?</div>
            <p>Singorama has been developed with the idea that children of 8 years and above can start learning to sing.
                The layout and design of the course gives people of all ages an easy way of learning music and singing
                without being too difficult or overwhelming. Note: For Children under 8 years of age, Singorama
                recommends that
                a parent should help to explain some lessons.</p>
        </div>
    </div>
</div>


<div class="faq-container">
    <div class="question-answer">
        <div class="q">Q:</div>
        <div class="right-container">
            <div class="question">How do I get a refund if I am unhappy with the product?</div>
            <p>Once you have become a member, Singorama offers full tech support for all their customers to ensure
                quality
                customer service. Send them an email with the appropriate details including your receipt number and date
                of purchase, and they will respond to your request asap. Don’t forget, they offer a moneyback guarantee
                up to
                8 weeks (60 days) from the date of purchase.</p>
        </div>
    </div>
</div>


<div class="faq-container">
    <div class="question-answer">
        <div class="q">Q:</div>
        <div class="right-container">
            <div class="question">As a gift, how do I get this to a friend?</div>
            <p>Singorama has a gift certificate option which you can print out for your friends or family. Email them
                with
                your receipt number and they will email your gift certificate to you.</p>
        </div>
    </div>
</div>

<div class="faq-container">
    <div class="question-answer">
        <div class="q">Q:</div>
        <div class="right-container">
            <div class="question">I don't have a computer can I get Singorama?</div>
            <p>Singorama is currently only available as a downloadable course.</p>
        </div>
    </div>
</div>


<div class="faq-container">
    <div class="question-answer">
        <div class="q">Q:</div>
        <div class="right-container">
            <div class="question">What happens if my computer freezes while I'm downloading?</div>
            <p>You can log back onto the Singorama Site as many times as you need to download Singorama. Singorama has
                been broken down into separate downloads so you won’t experience too much loss if your computer crashes.
            </p>
        </div>
    </div>
</div>


<div class="faq-container">
    <div class="question-answer">
        <div class="q">Q:</div>
        <div class="right-container">
            <div class="question">Does Singorama offer a money back guarantee?</div>
            <p>Yes. Singorama guarantees that you will be completely satisfied or your money back. They give you 8 weeks
                (60 days)
                to try their product. You simply can not lose. If for any reason you are not satisfied with “Singorama –
                Your Essential Guide to Singing Like a Professional”, simply email them with your receipt number, or your name
                and date of purchase, and they will refund you, right up to the last day of their guarantee. It will
                cost
                you absolutely nothing. That is just how sure they are of your success – Singorama stakes their
                reputation on it.
            </p>
        </div>
    </div>
</div>


<div class="faq-container">
    <div class="question-answer">
        <div class="q">Q:</div>
        <div class="right-container">
            <div class="question">Why doesn't Singorama offer telephone support?</div>
            <p>Singorama.com is an internet based company, and in order to answer your questions in the most efficient
                way possible, they only offer support through email. This ensures that all customer queries are received
                and answered in a timely manner. You can contact them through their contact form.</p>

            <p>Singorama can usually answer your queries in less than 24 hours. Please check the FAQ section to see if
                your
                query is already answered!</p>
        </div>
    </div>
</div>


<div class="banner">Payment Issues</div>


<div class="faq-container">
    <div class="question-answer">
        <div class="q">Q:</div>
        <div class="right-container">
            <div class="question">How much does it cost, and how do I get it?</div>
            <p>Singorama is available as a downloadable course, which costs $67 USD and is a one off payment valid for
                life. This means you will have continued access to Singorama, guaranteed.</p>
        </div>
    </div>
</div>


<div class="faq-container">
    <div class="question-answer">
        <div class="q">Q:</div>
        <div class="right-container">
            <div class="question">What are the payment methods?</div>
            <p>Singorama payment method is via ClickBank secure online banking. ClickBank accepts major credit cards,
                and Paypal payment options are also available through the ClickBank order form. If you want to know more
                about ClickBank, visit <a href="https://www.clickbank.com/"
                    target="_blank">www.clickbank.com</a>.</p>
        </div>
    </div>
</div>



<div class="faq-container">
    <div class="question-answer">
        <div class="q">Q:</div>
        <div class="right-container">
            <div class="question">My credit Card wont work, I am not currently in the country from which my credit card
                is based.</div>
            <p>ClickBank's system checks to see if the location of the credit card you are using matches the IP address
                of the country that the computer you are on is located. If you are overseas and want Singorama, it might
                be handy to use a family or friends credit card for the transaction or get a family member at home to
                pay for it so you can access it straight away.</p>
        </div>
    </div>
</div>


<div class="faq-container">
    <div class="question-answer">
        <div class="q">Q:</div>
        <div class="right-container">
            <div class="question">Are my credit card details secure?</div>
            <p>Yes. Singorama uses one of the worlds leading 3rd party credit card payment processors, ClickBank.
                ClickBank is
                VeriSign secure and are considered the worlds most secure credit card payment provider. In order to
                process payments with Visa and Mastercard credit cards, ClickBank requires: the CVV2 or CVC2 security
                code. This 3 digit code is found on the back of your credit card.</p>
        </div>
    </div>
</div>


<div class="faq-container">
    <div class="question-answer">
        <div class="q">Q:</div>
        <div class="right-container">
            <div class="question">What is CVV2 or CVC2?</div>
            <p>The CVV2/CVC2 is a three-digit security code that is printed on the back of credit cards. The number
                appears in reverse italic at the top of the signature panel at the end. This program helps validate that
                a genuine card is being used during a transaction. All MasterCard cards, both credit and debit, were
                required to contain CVC2 by January 1, 1997; all Visa cards must contain CVV2 by January 1, 2001. Even
                if a criminal steals a valid account number, They cannot compute the CVV2 numbers since they do not know
                the mathematical algorithm logic.</p>
        </div>
    </div>
</div>



<div class="faq-container">
    <div class="question-answer">
        <div class="q">Q:</div>
        <div class="right-container">
            <div class="question">Can I pay by Check instead?</div>
            <p>Unfortunately Singorama is unable to process payments by check. They do however process payments by
                credit card or Paypal.</p>
        </div>
    </div>
</div>



<div class="banner">Download Issues</div>


<div class="faq-container">
    <div class="question-answer">
        <div class="q">Q:</div>
        <div class="right-container">
            <div class="question">How do I login and access the Singorama course?</div>
            <p>When you purchased the course you will have been automatically assigned and emailed a receipt number by
                ClickBank. Please use this receipt number and enter it in the members login page for continued access
                to the Members Download Area. Please remember you can use this number to access the course and
                redownload at anytime in your lifetime membership. Login here: <a
                    href="https://singorama.com/members.php" target="_blank">singorama.com/members</a></p>
        </div>
    </div>
</div>



<div class="faq-container">
    <div class="question-answer">
        <div class="q">Q:</div>
        <div class="right-container">
            <div class="question">What is in the Singorama course? Where do I start?</div>
            <p>The Singorama course is divided into a number of sections, due to the levels and total file size of the
                course. Please familiarize yourself with the Members Download Area in order to identify all of the
                lessons, bonus e-books, and software available to you.</p>

            <p>The main part of the course is the <strong>Interactive Audio Lessons Section</strong> and contains
                sub-sections on:</p>

            <ul>
                <li>Getting Started as a Singer</li>
                <li>Vocal Technique</li>
                <li>Key Signatures, Time Signatures, Rhythm, Intervals, and much more</li>
                <li>Singing Style</li>
                <li>Learning Entire Songs</li>
                <li>Your Future as a Singer, Solutions to Common Problems, Extending Your Vocal Range, Performance Tips,
                    Auditions, Singing With a Band, and much more</li>
            </ul>

            <p>Accompanying the <strong>Interactive Audio Lessons Section</strong> are a range of <strong>Vocal
                    Exercises</strong>, including:</p>

            <ul>
                <li>Vocal Warmups</li>
                <li>Strengthening Exercises</li>
                <li>Range Extension Exercises</li>
                <li>Interval Training Exercises</li>
                <li>Relaxation Exercise</li>
            </ul>

            <p>The <strong>Songs Section</strong> includes three original songs for you to learn, which will enable you
                to learn melody
                and harmony as well as practice with the instrumental backing tracks.</p>

            <p>The <strong>Bonus Software Installer</strong> contains bonus software and games designed to help you
                build your music
                reading and singing skills and support your progression through the Singorama course. It contains:</p>

            <ul>
                <li>Singorama Mini Recording Studio</li>
                <li>Perfect Your Pitch Trainer Pro</li>
            </ul>

            <p>Accompanying the bonus software installer is the original <strong>Singorama Beginners and Advanced
                    eBooks</strong>. The
                original foundation course of Singorama, these books are still a great accompaniment to your singing
                progress with the new interactive audio course and bonus features.</p>
        </div>
    </div>
</div>



<div class="faq-container">
    <div class="question-answer">
        <div class="q">Q:</div>
        <div class="right-container">
            <div class="question">What format will the ebooks be in? Will I definitely be able to open them?</div>
            <p>The bonus ebooks “Singorama – Your Essential Guide to Singing Like a Professional”, come in .pdf format,
                which is viewable on both PCs and Macs. In order to view a .pdf file, you need Adobe Acrobat Reader
                software installed on your computer. This can be downloaded for free from:
                <a href="adobe.com/products/acrobat/readstep2.html"
                    target="_blank">www.adobe.com</a>
            </p>
        </div>
    </div>
</div>



<div class="faq-container">
    <div class="question-answer">
        <div class="q">Q:</div>
        <div class="right-container">
            <div class="question">I can't see or download the course. Help!</div>
            <p>You will notice when you visit the downloads page that there are several course sections listed.</p>
            <p>For the audio lessons and exercises, you can listen to them online, or if you want to save them to your
                computer, right-click on the download link below each audio file, select “Save Target As…” and save them
                to your Program files in your C drive.</p>
            <p>Then when you need to access the course components, you can go to the selected folder you have saved the
                course components to, open them, and use them to increase and develop your singing skills! Easy!</p>
        </div>
    </div>
</div>


<div class="faq-container">
    <div class="question-answer">
        <div class="q">Q:</div>
        <div class="right-container">
            <div class="question">I can't see some of the ebooks. Help!</div>
            <p>You won’t find the ebooks on the Start Menu like the bonus software because the ebooks aren’t programs.
                The ebooks are pdfs. You will need to recheck where you have saved the files to using your search
                function in your Start Menu.</p>
        </div>
    </div>
</div>


<div class="faq-container">
    <div class="question-answer">
        <div class="q">Q:</div>
        <div class="right-container">
            <div class="question">I keep getting a remove or repair message. Help!</div>
            <p>You will need to go to your control panel, go to Add/Remove Programs, and uninstall the singorama ebooks
                files. Then go to your internet browser, go to Tools – Internet Options, and click the delete cookies
                and delete files buttons. Then go back to the members download area and try the download again.</p>
        </div>
    </div>
</div>


<div class="faq-container">
    <div class="question-answer">
        <div class="q">Q:</div>
        <div class="right-container">
            <div class="question">I have a Mac and keep getting error #17540 show up. Help!</div>
            <p>If you are having problems opening the files and have error #17540 showing up, you will need to update
                your version of Stuffit Expander. This should solve the problem.</p>
        </div>
    </div>
</div>


<div class="faq-container">
    <div class="question-answer">
        <div class="q">Q:</div>
        <div class="right-container">
            <div class="question">Where is the Virtual Piano located? I can't find it!</div>
            <p>The Virtual Piano is part of the Singorama Mini Recording Studio software. This is available for download
                in the Bonus Software Installer.</p>
        </div>
    </div>
</div>


<div class="faq-container">
    <div class="question-answer">
        <div class="q">Q:</div>
        <div class="right-container">
            <div class="question">The embedded audio is not working in my ebooks. Help!</div>
            <p>In order to view a .pdf file, you need Adobe Acrobat Reader software installed on your computer. This can
                be downloaded for free from: <a href="http://www.adobe.com/products/acrobat/readstep2.html"
                    target="_blank">www.adobe.com</a></p>
        </div>
    </div>
</div>


<div class="faq-container">
    <div class="question-answer">
        <div class="q">Q:</div>
        <div class="right-container">
            <div class="question">I have lost my receipt number and can't login. What do I do?</div>
            <p>You can contact the <a href="https://singorama.com/contact/" target="_blank">Singorama support team</a>
                for assistance in helping locate your login details. Please provide as
                much detail as possible, including:</p>
            <ul>
                <li>the email address you used at the time of purchase</li>
                <li>date of purchase</li>
                <li>and the site you purchased Singorama through</li>
            </ul>
        </div>
    </div>
</div>


<div class="faq-container">
    <div class="question-answer">
        <div class="q">Q:</div>
        <div class="right-container">
            <div class="question">I have a Mac and I'm having difficulty using the bonus software. What do I do?</div>
            <p>Please note the system requirements listed on the <a href="https://b8752e78q2-mfr0eohvn42txb7.hop.clickbank.net" target="_blank">Singorama</a> web page:</p>

            <ul>
                <li>Singorama PDF’s are fully compatible with Macintosh Computers</li>
                <li>250MB free Hard Drive space</li>
                <li>28.8k (or faster) Internet Connection</li>
            </ul>

            <p>Singorama Mini Recording Studio and Perfect your Pitch Trainer Pro will install to your desktop and are
                configured to run in any Mac Operating System.</p>
        </div>
    </div>
</div>



<div class="faq-container">
    <div class="question-answer">
        <div class="q">Q:</div>
        <div class="right-container">
            <div class="question"> I can’t see my question answered here.</div>
            <p>Contact the <a href="https://singorama.com/contact/" target="_blank"> Singorama Support Team</a>.</p>
        </div>
    </div>
</div>