#end-container {
    button {
        background: #981127;
        padding: 0 20px;
        height: 66px;
        border-radius: 33px;
        font-size: 25px;
        color: white;
        font-weight: bold;
        margin: 35px auto 0;
        display: block;
    }

    .product-image {
        max-width: 650px;
        margin: auto;
        display: block;
    }
}

.logo-container {
    background: #0e0e0e;
    width: 100%;
    // position: relative;
    height: 270px;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
        max-width: 595px;
        margin: auto;
    }
}


@media (max-width: 615px) {
    .logo-container {
        height: 44vw;
        width: unset;
        padding: 0 20px;
    }

}



.discount {
    font-size: 38px;
    text-align: center;
    margin: 40px 10px 0;
    font-weight: bold;

    span {
        color: #981127;
    }
}

@media(max-width: 360px) {
    #end-container {
        button {
            font-size: 20px;
        }
    }
}


@media(max-width: 300px) {
    #end-container {
        button {
            margin: 35px 10px 0;
        }
    }
}