.wave {
    // background-image: url('/assets/pianoforall/wave.png');
    width: 100%;
    // background-size: cover;
    // background-repeat: no-repeat;
    position: relative;

    img {
        object-fit: cover;
        top: 2px !important;
    }
}

.works-container {
    width: 100%;
    background: #981127;
    padding-bottom: 20px;
}

.works-grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    max-width: 1500px;
    margin: auto;
    padding: 0 20px;

    p {
        grid-column: 1;
        color: #f5f5f5;
    }
}

.works-heading {
    grid-column: 1;
    font-size: 48px;
    font-weight: bold;
    color: #ffffff;
    text-align: center;
    margin-bottom: 20px;
}

.video-audio-image {
    // background-image: url('/assets/pianoforall/video-audio.jpg');
    width: 650px;
    height: 570px;
    grid-column: 2;
    grid-row-start: 1;
    grid-row-end: span 3;
    // background-size: contain;
    // background-repeat: no-repeat;
    margin-left: auto;
    margin-top: 28px;
    position: relative;

    img {
        object-fit: contain;
    }
}

@media (max-width: 2560px) {
    .wave {
        height: 110px;
    }
}



@media (max-width: 1920px) {
    .wave {
        height: 92px;
    }
}




@media (max-width: 1400px) {
    .works-grid-container {
        grid-template-columns: 1fr;

        p {
            max-width: 1000px;
            margin: auto;
        }
    }

    .video-audio-image {
        grid-row-start: 3;
        margin: 20px auto;
        grid-column: 1;
    }

    .wave {
        height: 70px;
    }
}



@media (max-width: 1080px) {
    .wave {
        height: 60px;
    }
}




@media (max-width: 700px) {
    .video-audio-image {
        width: 100%;
        height: 82vw;
        background-position: center;
    }

    .works-grid-container {
        padding: 0;

        p, .works-heading {
            padding: 0 20px;
        }
    }
}


@media (max-width: 600px) {
    .wave {
        height: 40px;
    }
}

@media (max-width: 360px) {
    .wave {
        height: 30px;
    }
}

@media (max-width: 300px) {
    .works-heading {
        font-size: 40px;
    }
}

@media (max-width: 250px) {
    .works-heading {
        font-size: 30px;
    }
}