@import '../../../../styles/flexbox-grid';

#ebooks {
    h1 {
        text-align: center;
        margin-bottom: 0;
        font-size: 48px;
        margin-top: 20px;
    }

    .subheading {
        text-align: center;
        margin: 0 10px 20px;
        color: #2a2a2a;
    }
}


.ebook {
    img {
        outline: 1px solid #747474;
        width: 100%;
        max-width: 400px;
        display: block;
        margin: auto;
    }

    .ebook-title {
        color: #981127;
        text-align: center;
        font-size: 22px;
        font-weight: bold;
        margin-top: 20px;
    }

    p {
        padding: 0 20px;
    }
}



.ebooks-container {
    @include flex-grid((3, 2, 1), (1280px, 800px), 1400px, 40px);
}




@media (max-width: 1280px) {
    .ebook {
        img {
            max-width: unset;
            width: 46vw;
        }
    }
}


@media (max-width: 800px) {
    .ebook {
        img {
            width: 95vw;
        }
    }
}


@media (max-width: 250px) {
    #ebooks {
        h1 {
            font-size: 40px;
        }
    }
}