.product-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    max-width: 1400px;
    margin: 20px auto;

    p {
        grid-column: 2;
        padding: 0 10px;
    }

    .product-image {
        grid-column: 1;
        grid-row-start: 1;
        grid-row-end: span 2;
        margin: auto;
        max-width: 650px;
    }
}



@media (max-width: 1370px) {
    .product-section {
        grid-template-columns: 1fr;

        p {
            grid-column: 1;
            max-width: 1000px;
            margin: auto;
        }

        .product-image {
            grid-row-start: 2;
            margin: 20px auto;
        }
    }
}