<ns-header></ns-header>

<!-- Video Section -->
<section>
    <div class="background-image">
        <div class="left-flex-container"></div>
        <div class="right-flex-container">
            <div class="info-container">
                <div class="heading">LEARN TO SING LIKE A PRO</div>
                <div class="percent-off"></div>
                <img src="assets/video-thumbnail.png" class="video-thumbnail">
            </div>
        </div>
    </div>
</section>


<!-- Product Section -->
<section>
    <div class="product-grid-container">
        <div class="img-container">
            <div class="bundle-image"></div>
        </div>

        <div class="paragraph">Introducing Singorama, your gateway to unlocking the full potential of your voice.
            Experience
            rapid transformations as you expand your vocal range by an entire octave or more. This comprehensive program
            delves
            into the nuances between your chest and head voices, guiding you to seamlessly blend them into a connected,
            resonant
            mixed voice that spans your entire vocal spectrum. Through specialized vocal exercises tailored to fortify
            your
            vocal
            muscles, Singorama empowers you to gain precise control without encountering cracks or breaks, ensuring a
            smooth,
            controlled delivery at the peak of your vocal capabilities.</div>
        <div class="paragraph">With its 28 dynamic vocal training audio modules, complemented by a wealth of ebooks,
            worksheets,
            and purpose-built tools, Singorama doesn’t merely enhance your vocal range—it revolutionizes your singing
            prowess.
            Elevate your performance as you learn to wield better tone, pitch perfection, and enhanced control swiftly
            and
            effectively. This holistic approach isn't just about hitting higher notes; it's about crafting a versatile,
            expressive
            instrument out of your voice, setting you on a fast track to vocal mastery.</div>
    </div>
</section>


<!-- Inside Section -->
<section>
    <div class="banner">What's Inside Singorama?</div>
    <div class="inside-container">
        <div class="inside-flex-container">



            <div class="card">
                <img src="assets/audio-modules.png" class="card-image">
                <div class="card-title">28 vocal audio modules</div>
                <div class="card-description">Uncover the secrets to vocal mastery through this comprehensive course,
                    meticulously designed to
                    elevate every aspect of your singing ability.<br><br>With this step-by-step program, you’ll be able
                    to
                    refine your tone, perfect your pitch, hone in on your rhythm, and enhance clarity while expanding
                    your
                    vocal range by an octave or more.</div>
            </div>

            <div class="card">
                <img src="assets/audio-modules.png" class="card-image">
                <div class="card-title">28 vocal audio modules</div>
                <div class="card-description">Uncover the secrets to vocal mastery through this comprehensive course,
                    meticulously designed to
                    elevate every aspect of your singing ability.<br><br>With this step-by-step program, you’ll be able
                    to
                    refine your tone, perfect your pitch, hone in on your rhythm, and enhance clarity while expanding
                    your
                    vocal range by an octave or more.</div>
            </div>

            <div class="card">
                <img src="assets/audio-modules.png" class="card-image">
                <div class="card-title">28 vocal audio modules</div>
                <div class="card-description">Uncover the secrets to vocal mastery through this comprehensive course,
                    meticulously designed to
                    elevate every aspect of your singing ability.<br><br>With this step-by-step program, you’ll be able
                    to
                    refine your tone, perfect your pitch, hone in on your rhythm, and enhance clarity while expanding
                    your
                    vocal range by an octave or more.</div>
            </div>
        </div>

        <div class="inside-mask"></div>

    </div>
</section>


<!-- Learn Section -->
<section>
    <div class="learn-section-container">
        <div class="singer"></div>


        <div>
            <div class="learn-section-title">What You’ll Learn</div>


            <div class="learn-items-container">
                <div class="learn-item">
                    <i class="fa-solid fa-check"></i>
                    <div class="learn-item-text-container">
                        <span class="learn-item-subject">Progressive Interval training</span><span> – This training
                            is
                            designed to improve your capacity for learning new songs and mastering harmonies,
                            offering a
                            valuable skill set for musical growth.</span>
                    </div>
                </div>



                <div class="learn-item">
                    <i class="fa-solid fa-check"></i>
                    <div class="learn-item-text-container">
                        <span class="learn-item-subject">Aural Tonality Conditioning</span><span> – You’ll learn how
                            to
                            prevent yourself
                            from singing too sharp or too flat, develop your musical ear, and grasp
                            perfect and relative pitch.</span>
                    </div>
                </div>




                <div class="learn-item">
                    <i class="fa-solid fa-check"></i>
                    <div class="learn-item-text-container">
                        <span class="learn-item-subject">Advanced Larynx Amplifier</span><span> – These expert
                            warm-ups
                            prepare you
                            to unlock your voice's complete potential. Enhance volume and strength
                            while preserving a pleasant tone.</span>
                    </div>
                </div>


                <div class="singer-small"></div>


                <div class="learn-item">
                    <i class="fa-solid fa-check"></i>
                    <div class="learn-item-text-container">
                        <span class="learn-item-subject">Organic Auto Tune Technique</span><span> – Effortlessly
                            condition
                            your vocal muscles for flawless note precision and consistent
                            pitch accuracy.</span>
                    </div>
                </div>




                <div class="learn-item">
                    <i class="fa-solid fa-check"></i>
                    <div class="learn-item-text-container">
                        <span class="learn-item-subject">Fluid Reverberation Technique</span><span> – You’ll be able
                            to
                            smoothly switch
                            between high and low notes without any voice breaks. This technique
                            will give your voice a silky smooth quality that not many people have.</span>
                    </div>
                </div>





                <div class="learn-item">
                    <i class="fa-solid fa-check"></i>
                    <div class="learn-item-text-container">
                        <span class="learn-item-subject">Nerve Recalibration Technique</span><span> – This method is
                            the
                            key to
                            conquering fears, phobias, negative thoughts, and mental blocks,
                            enabling you to achieve the highest levels of confidence imaginable.</span>
                    </div>
                </div>




                <div class="learn-item">
                    <i class="fa-solid fa-check"></i>
                    <div class="learn-item-text-container">
                        <span class="learn-item-subject">Octave Power Generator</span><span> – You’ll witness the
                            evolution of your
                            range,
                            growing stronger and more powerful, expanding by an additional octave.</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- Inner Circle Section -->
<section>
    <div class="inner-circle-section-container">
        <div class="wave"></div>
        <div class="inner-circle-background">
            <div class="inner-circle-content-container">
                <div class="inner-circle-info">
                    <div class="inner-circle-title">Platinum Inner Circle Membership</div>
                    <div class="inner-circle-description">
                        <p>Unlock the full potential of your singing voice with Platinum Inner Circle, the premium
                            subscription service offered alongside Singorama. By purchasing Singorama today, you'll have
                            the exclusive opportunity to dive into Platinum Inner Circle's wealth of resources.
                            Experience the first month <strong>FREE</strong> and discover an abundance of
                            techniques and strategies designed to elevate your singing abilities.</p>

                        <p>For just $27 per month after the complimentary trial, you'll gain access to 8 interactive
                            audio vocal coaching lessons every month, for up to 5 months, enabling you to continuously
                            enhance your singing skills. With the flexibility to cancel anytime, Platinum Inner Circle
                            empowers you to chart your own journey towards becoming the best singer you can be.
                        </p>
                    </div>
                </div>
                <div class="inner-circle-image"></div>
            </div>
        </div>
    </div>
</section>


<!-- Bonus Section -->
<section>
    <div class="bonus-caption">
        Order today and receive these 3 fantastic <span style="color: #bc1313">bonuses!</span>
    </div>

    <!-- Bonus 1 -->
    <div class="bonus-container">
        <div class="bonus-info">
            <div class="bonus-number">Bonus 1</div>
            <div class="bonus-title">Advancement App</div>

            <p>This revolutionary app serves as a gateway to honing your musical talent, providing a seamless platform
                to effortlessly warm up your vocal cords.</p>
            <p>This tool becomes a mentor guiding you through a structured series of step-by-step lessons, nurturing
                your technique and refining your abilities.</p>
            <p>Boasting a vast library of more than 120 tracks, this app becomes your virtual coach, allowing you to
                self-correct during practice sessions.</p>

            <div class="bonus-price">
                <span>Regular Price: $97</span>
                -
                <span>Yours FREE!</span>
            </div>
        </div>

        <div class="bonus1-image"></div>
    </div>



    <!-- Bonus 2 -->
    <div class="bonus-container">
        <div class="bonus-info">
            <div class="bonus-number">Bonus 2</div>
            <div class="bonus-title">Mini-recording Studio</div>

            <p>This software has been crafted to serve as your guide on the journey to mastering singing. Its versatile
                functionalities enable you to seamlessly record, listen back, evaluate, and track your progress.</p>
            <p>The inclusion of a virtual keyboard proves invaluable, offering a remarkable platform for honing your
                scales and identifying areas that require improvement.</p>
            <p>With this tool at your disposal, pinpointing weaknesses becomes an opportunity for growth, empowering you
                to refine your skills and achieve vocal mastery with precision and efficiency.</p>

            <div class="bonus-price">
                <span>Regular Price: $97</span>
                -
                <span>Yours FREE!</span>
            </div>
        </div>

        <div class="bonus2-image"></div>
    </div>




    <!-- Bonus 3 -->
    <div class="bonus-container">
        <div class="bonus-info">
            <div class="bonus-number">Bonus 3</div>
            <div class="bonus-title">How to Read Music</div>

            <p>Unlocking the power of musical notation offers singers a profound advantage. Delving into this
                comprehensive yet accessible guide to reading music opens doors to a deeper understanding of musical
                intricacies.</p>
            <p>Seamlessly blending simplicity with depth, this guide propels your comprehension of music forward,
                transforming you into a formidable musical talent.</p>
            <p>With each note deciphered and every rhythm understood, you ascend to become a force to be reckoned with
                in the realm of music, harnessing the transformative strength of both voice and notation.</p>

            <div class="bonus-price">
                <span>Regular Price: $47</span>
                -
                <span>Yours FREE!</span>
            </div>
        </div>

        <div class="bonus3-image"></div>
    </div>
</section>



<div class="banner">LIMITED TIME: JUST ONE PAYMENT OF $67!</div>

<div style="width: 100%; display: flex; align-items: center; margin-top: 60px; flex-direction: column;">
    <div class="bundle-image"></div>
    <div style="font-family: 'cooper std'; font-size: 38px; margin-top: 60px;">75% OFF TODAY! <span style="color: #bc1313;">$67</span></div>
    <button style="background: #bc1313; width: 390px; height: 66px; border-radius: 33px; font-size: 25px; color: white; font-weight: bold; margin-top: 35px;">BUY TODAY WITH DISCOUNT</button>
    <div style="background: #bc1313; position: relative; width: 100%; margin-top: 200px; height: 400px; padding-top: 160px; display: flex; flex-direction: column; align-items: center;">
        <img src="assets/money-back.png" style="position: absolute; top: -124px;">
        <div style="font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; color: white; font-size: 60px; text-align: center;">100% MONEY BACK GUARANTEE</div>
        <div style="width: 100%; max-width: 725px; margin-top: 55px; color: white;">Singorama offers a robust 100% money-back guarantee valid for 60 days from the initial purchase. If within this period you find yourself unsatisfied with the product, your progress, or your overall experience, you can return it hassle-free, no questions asked. Simply return the product within the initial 60 days for a full refund.</div>
    </div>
    
</div>
