<ns-header></ns-header>

<!-- Video Section -->
<section>
    <div class="background-image">
        <div class="left-flex-container"></div>
        <div class="right-flex-container">
            <div class="info-container">
                <div class="heading">{{heading}}</div>
                <div class="percent-off">75% OFF TODAY!</div>
                
                <div class="video-container" (click)="onVideoClick()">
                    <i class="fa-brands fa-youtube"></i>
                    <img src="assets/video-thumbnail.png" class="video-thumbnail">
                </div>
                
            </div>
        </div>
    </div>
</section>




<!-- Product Section -->
<section>
    <div class="product-grid-container">
        <div class="img-container">
            <div class="bundle-image"></div>
        </div>

        <p>{{paragraph1}}</p>
        <p>{{paragraph2}}</p>
    </div>
</section>


<!-- Inside Section -->
<section>
    <div class="banner">What's Inside Singorama?</div>
    <div class="inside-container">
        <div class="inside-flex-container">



            <div class="card">
                <img src="assets/audio-modules.png" class="card-image">
                <div class="card-title">28 vocal audio modules</div>
                <p>Unlock the secrets of singing mastery with this comprehensive collection of 28 vocal audio modules.
                    Designed to elevate every facet of your vocal abilities, these modules offer step-by-step guidance,
                    refining your tone, pitch, rhythm, and clarity.</p>
                <p>Moreover, they enable you to expand your vocal range by a remarkable octave or more. Immerse yourself
                    in these modules and witness your voice transform into a versatile and powerful instrument, all
                    through an efficient and accessible learning process.</p>
            </div>


            <div class="card">
                <img src="assets/workbook.png" class="card-image">
                <div class="card-title">kick-start workbook</div>
                <p>The kick-start workbook is a dynamic toolkit filled with tailored exercises, tips, and personalized
                    routines. It lays a strong foundation, offering diverse vocal exercises and insights for singers of
                    all levels.</p>
                <p>From foundational techniques to advanced insights, it's a wealth of vocal wisdom, crafted to empower
                    and refine your skills. This workbook is more than a guide; it transforms into a trusted companion,
                    guiding and supporting individuals along the exhilarating path towards mastering the beautiful art
                    of singing.</p>
            </div>



            <div class="card">
                <img src="assets/perfect-your-pitch.png" class="card-image">
                <div class="card-title">Perfect Your Pitch</div>
                <p>Through this fun and easy game, you'll sharpen your listening skills, identify tones and pitches more
                    accurately, and build a solid foundation for musical excellence. Experience the joy of enhancing
                    your singing skills as you immerse yourself in this captivating game.</p>
                <p>Designed to make learning enjoyable, it’s a gateway to honing your singing abilities effortlessly.
                    Get ready to witness your musical talents soar to new heights in an enjoyable and stimulating
                    manner.</p>
            </div>


        </div>

        <div class="inside-mask"></div>

    </div>
</section>


<!-- Learn Section -->
<section>
    <div class="learn-section-container">
        <div class="singer"></div>


        <div>
            <div class="learn-section-title">What You’ll Learn</div>


            <div class="learn-items-container">
                <div class="learn-item">
                    <i class="fa-solid fa-check"></i>
                    <div class="learn-item-text-container">
                        <span class="learn-item-subject">Progressive Interval training</span><span> – This training
                            is
                            designed to improve your capacity for learning new songs and mastering harmonies,
                            offering a
                            valuable skill set for musical growth.</span>
                    </div>
                </div>



                <div class="learn-item">
                    <i class="fa-solid fa-check"></i>
                    <div class="learn-item-text-container">
                        <span class="learn-item-subject">Aural Tonality Conditioning</span><span> – You’ll learn how
                            to
                            prevent yourself
                            from singing too sharp or too flat, develop your musical ear, and grasp
                            perfect and relative pitch.</span>
                    </div>
                </div>




                <div class="learn-item">
                    <i class="fa-solid fa-check"></i>
                    <div class="learn-item-text-container">
                        <span class="learn-item-subject">Advanced Larynx Amplifier</span><span> – These expert
                            warm-ups
                            prepare you
                            to unlock your voice's complete potential. Enhance volume and strength
                            while preserving a pleasant tone.</span>
                    </div>
                </div>


                <div class="singer-small"></div>


                <div class="learn-item">
                    <i class="fa-solid fa-check"></i>
                    <div class="learn-item-text-container">
                        <span class="learn-item-subject">Organic Auto Tune Technique</span><span> – Effortlessly
                            condition
                            your vocal muscles for flawless note precision and consistent
                            pitch accuracy.</span>
                    </div>
                </div>




                <div class="learn-item">
                    <i class="fa-solid fa-check"></i>
                    <div class="learn-item-text-container">
                        <span class="learn-item-subject">Fluid Reverberation Technique</span><span> – You’ll be able
                            to
                            smoothly switch
                            between high and low notes without any voice breaks. This technique
                            will give your voice a silky smooth quality that not many people have.</span>
                    </div>
                </div>





                <div class="learn-item">
                    <i class="fa-solid fa-check"></i>
                    <div class="learn-item-text-container">
                        <span class="learn-item-subject">Nerve Recalibration Technique</span><span> – This method is
                            the
                            key to
                            conquering fears, phobias, negative thoughts, and mental blocks,
                            enabling you to achieve the highest levels of confidence imaginable.</span>
                    </div>
                </div>




                <div class="learn-item">
                    <i class="fa-solid fa-check"></i>
                    <div class="learn-item-text-container">
                        <span class="learn-item-subject">Octave Power Generator</span><span> – You’ll witness the
                            evolution of your
                            range,
                            growing stronger and more powerful, expanding by an additional octave.</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- Inner Circle Section -->
<section>
    <div class="inner-circle-section-container">
        <div class="wave"></div>
        <div class="inner-circle-background">
            <div class="inner-circle-content-container">
                <div class="inner-circle-info">
                    <div class="inner-circle-title">Platinum Inner Circle Membership</div>
                    <div class="inner-circle-description">
                        <p>Unlock the full potential of your singing voice with Platinum Inner Circle, the premium
                            subscription service offered alongside Singorama. By purchasing Singorama today, you'll have
                            the exclusive opportunity to dive into Platinum Inner Circle's wealth of resources.
                            Experience the first month <strong>FREE</strong> and discover an abundance of
                            techniques and strategies designed to elevate your singing abilities.</p>

                        <p>For just $27 per month after the complimentary trial, you'll gain access to 8 interactive
                            audio vocal coaching lessons every month, for up to 5 months, enabling you to continuously
                            enhance your singing skills. With the flexibility to cancel anytime, Platinum Inner Circle
                            empowers you to chart your own journey towards becoming the best singer you can be.
                        </p>
                    </div>
                </div>
                <div class="inner-circle-image"></div>
            </div>
        </div>
    </div>
</section>


<!-- Bonus Section -->
<section>
    <div class="bonus-caption">
        Order today and receive these 3 fantastic <span style="color: #bc1313">bonuses!</span>
    </div>

    <!-- Bonus 1 -->
    <div class="bonus-container">
        <div class="bonus-info">
            <div class="bonus-number">Bonus 1</div>
            <div class="bonus-title">Advancement App</div>

            <p>This revolutionary app serves as a gateway to honing your musical talent, providing a seamless platform
                to effortlessly warm up your vocal cords.</p>
            <p>This tool becomes a mentor guiding you through a structured series of step-by-step lessons, nurturing
                your technique and refining your abilities.</p>
            <p>Boasting a vast library of more than 120 tracks, this app becomes your virtual coach, allowing you to
                self-correct during practice sessions.</p>

            <div class="bonus-price">
                <span>Regular Price: $97</span>
                -
                <span>Yours FREE!</span>
            </div>
        </div>

        <div class="bonus1-image"></div>
    </div>



    <!-- Bonus 2 -->
    <div class="bonus-container">
        <div class="bonus-info">
            <div class="bonus-number">Bonus 2</div>
            <div class="bonus-title">Mini-recording Studio</div>

            <p>This software has been crafted to serve as your guide on the journey to mastering singing. Its versatile
                functionalities enable you to seamlessly record, listen back, evaluate, and track your progress.</p>
            <p>The inclusion of a virtual keyboard proves invaluable, offering a remarkable platform for honing your
                scales and identifying areas that require improvement.</p>
            <p>With this tool at your disposal, pinpointing weaknesses becomes an opportunity for growth, empowering you
                to refine your skills and achieve vocal mastery with precision and efficiency.</p>

            <div class="bonus-price">
                <span>Regular Price: $97</span>
                -
                <span>Yours FREE!</span>
            </div>
        </div>

        <div class="bonus2-image"></div>
    </div>




    <!-- Bonus 3 -->
    <div class="bonus-container">
        <div class="bonus-info">
            <div class="bonus-number">Bonus 3</div>
            <div class="bonus-title">How to Read Music</div>

            <p>Unlocking the power of musical notation offers singers a profound advantage. Delving into this
                comprehensive yet accessible guide to reading music opens doors to a deeper understanding of musical
                intricacies.</p>
            <p>Seamlessly blending simplicity with depth, this guide propels your comprehension of music forward,
                transforming you into a formidable musical talent.</p>
            <p>With each note deciphered and every rhythm understood, you ascend to become a force to be reckoned with
                in the realm of music, harnessing the transformative strength of both voice and notation.</p>

            <div class="bonus-price">
                <span>Regular Price: $47</span>
                -
                <span>Yours FREE!</span>
            </div>
        </div>

        <div class="bonus3-image"></div>
    </div>
</section>


<!-- End Section -->
<section>
    <div class="banner">LIMITED TIME: JUST ONE PAYMENT OF $67!</div>

    <div class="end-container">
        <div class="bundle-image"></div>
        <div class="discount">75% OFF TODAY! <span>$67</span></div>
        <button>BUY TODAY WITH DISCOUNT</button>
        <div class="footer">
            <img src="assets/money-back.png">
            <div class="caption">100% MONEY BACK GUARANTEE</div>
            <div class="description">Singorama offers a robust 100% money-back guarantee valid for 60 days from the
                initial purchase. If within this period you find yourself unsatisfied with the product, your progress,
                or your overall experience, a refund can be obtained, no questions asked.</div>
        </div>
    </div>
</section>