<ns-header></ns-header>

<!-- Video Section -->
<section>
    <div class="background-image">
        <div class="left-flex-container"></div>
        <div class="right-flex-container">
            <div class="info-container">
                <div class="heading">LEARN TO SING LIKE A PRO</div>
                <div class="percent-off"></div>
                <img src="assets/video-thumbnail.png" class="video-thumbnail">
            </div>
        </div>
    </div>
</section>


<!-- Product Section -->
<section>
    <div class="product-grid-container">
        <div class="img-container">
            <div class="bundle-image"></div>
        </div>

        <div class="paragraph">Introducing Singorama, your gateway to unlocking the full potential of your voice.
            Experience
            rapid transformations as you expand your vocal range by an entire octave or more. This comprehensive program
            delves
            into the nuances between your chest and head voices, guiding you to seamlessly blend them into a connected,
            resonant
            mixed voice that spans your entire vocal spectrum. Through specialized vocal exercises tailored to fortify
            your
            vocal
            muscles, Singorama empowers you to gain precise control without encountering cracks or breaks, ensuring a
            smooth,
            controlled delivery at the peak of your vocal capabilities.</div>
        <div class="paragraph">With its 28 dynamic vocal training audio modules, complemented by a wealth of ebooks,
            worksheets,
            and purpose-built tools, Singorama doesn’t merely enhance your vocal range—it revolutionizes your singing
            prowess.
            Elevate your performance as you learn to wield better tone, pitch perfection, and enhanced control swiftly
            and
            effectively. This holistic approach isn't just about hitting higher notes; it's about crafting a versatile,
            expressive
            instrument out of your voice, setting you on a fast track to vocal mastery.</div>
    </div>
</section>


<!-- Inside Section -->
<section>
    <div class="banner">What's Inside Singorama?</div>
    <div class="inside-container">
        <div class="inside-flex-container">



            <div class="card">
                <img src="assets/audio-modules.png" class="card-image">
                <div class="card-title">28 vocal audio modules</div>
                <div class="card-description">Uncover the secrets to vocal mastery through this comprehensive course,
                    meticulously designed to
                    elevate every aspect of your singing ability.<br><br>With this step-by-step program, you’ll be able
                    to
                    refine your tone, perfect your pitch, hone in on your rhythm, and enhance clarity while expanding
                    your
                    vocal range by an octave or more.</div>
            </div>

            <div class="card">
                <img src="assets/audio-modules.png" class="card-image">
                <div class="card-title">28 vocal audio modules</div>
                <div class="card-description">Uncover the secrets to vocal mastery through this comprehensive course,
                    meticulously designed to
                    elevate every aspect of your singing ability.<br><br>With this step-by-step program, you’ll be able
                    to
                    refine your tone, perfect your pitch, hone in on your rhythm, and enhance clarity while expanding
                    your
                    vocal range by an octave or more.</div>
            </div>

            <div class="card">
                <img src="assets/audio-modules.png" class="card-image">
                <div class="card-title">28 vocal audio modules</div>
                <div class="card-description">Uncover the secrets to vocal mastery through this comprehensive course,
                    meticulously designed to
                    elevate every aspect of your singing ability.<br><br>With this step-by-step program, you’ll be able
                    to
                    refine your tone, perfect your pitch, hone in on your rhythm, and enhance clarity while expanding
                    your
                    vocal range by an octave or more.</div>
            </div>
        </div>

        <div class="inside-mask"></div>

    </div>
</section>


<!-- Learn Section -->
<section>
    <div class="learn-section-container">
        <div class="singer"></div>


        <div>
            <div class="learn-section-title">What You’ll Learn</div>


            <div class="learn-items-container">
                <div class="learn-item">
                    <i class="fa-solid fa-check"></i>
                    <div class="learn-item-text-container">
                        <span class="learn-item-subject">Progressive Interval training</span><span> – This training
                            is
                            designed to improve your capacity for learning new songs and mastering harmonies,
                            offering a
                            valuable skill set for musical growth.</span>
                    </div>
                </div>



                <div class="learn-item">
                    <i class="fa-solid fa-check"></i>
                    <div class="learn-item-text-container">
                        <span class="learn-item-subject">Aural Tonality Conditioning</span><span> – You’ll learn how
                            to
                            prevent yourself
                            from singing too sharp or too flat, develop your musical ear, and grasp
                            perfect and relative pitch.</span>
                    </div>
                </div>




                <div class="learn-item">
                    <i class="fa-solid fa-check"></i>
                    <div class="learn-item-text-container">
                        <span class="learn-item-subject">Advanced Larynx Amplifier</span><span> – These expert
                            warm-ups
                            prepare you
                            to unlock your voice's complete potential. Enhance volume and strength
                            while preserving a pleasant tone.</span>
                    </div>
                </div>


                <div class="singer-small"></div>


                <div class="learn-item">
                    <i class="fa-solid fa-check"></i>
                    <div class="learn-item-text-container">
                        <span class="learn-item-subject">Organic Auto Tune Technique</span><span> – Effortlessly
                            condition
                            your vocal muscles for flawless note precision and consistent
                            pitch accuracy.</span>
                    </div>
                </div>




                <div class="learn-item">
                    <i class="fa-solid fa-check"></i>
                    <div class="learn-item-text-container">
                        <span class="learn-item-subject">Fluid Reverberation Technique</span><span> – You’ll be able
                            to
                            smoothly switch
                            between high and low notes without any voice breaks. This technique
                            will give your voice a silky smooth quality that not many people have.</span>
                    </div>
                </div>





                <div class="learn-item">
                    <i class="fa-solid fa-check"></i>
                    <div class="learn-item-text-container">
                        <span class="learn-item-subject">Nerve Recalibration Technique</span><span> – This method is
                            the
                            key to
                            conquering fears, phobias, negative thoughts, and mental blocks,
                            enabling you to achieve the highest levels of confidence imaginable.</span>
                    </div>
                </div>




                <div class="learn-item">
                    <i class="fa-solid fa-check"></i>
                    <div class="learn-item-text-container">
                        <span class="learn-item-subject">Octave Power Generator</span><span> – You’ll witness the
                            evolution of your
                            range,
                            growing stronger and more powerful, expanding by an additional octave.</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<div style="position: relative;">
    <div style="    background: url('assets/wave.png');
    width: 100%;
    height: 160px;
    position: absolute;
    top: -80px;
    background-size: cover;
    background-repeat: no-repeat;"></div>

</div>


<!-- background: url('assets/wave-small.png');
width: 100%;
height: 72px;
position: absolute;
top: -30px;
background-size: cover;
background-repeat: no-repeat; -->