<ns-header></ns-header>

<div class="note"><span>Note:</span> All of the below testimonials have been written to Robin Hall, the creator of Pianoforall.
</div>

<div class="testimonial-container">
    <div class="content">
        <div class="name">David Morgan, London, E6, UK</div>
        <img src="assets/shared/stars.png">
        <p>“Hi Robin, Never thought I would say this I thought I had tried every method when it came to not only
            learning to play the piano but understanding the method. I am truly amazed at the progress I have made in
            THREE DAYS !!!!</p>

        <p>I have the benefit of being able to play but never to the standard I wanted and trying so hard to find that
            elusive sound, I have spent many hundreds of pounds and a lot of time with scales and all this entails and
            progress was so slow but I would not give up, it turned out to be very challenging and at times it felt like
            a battle which has gone on for ten years.</p>


        <P>I read the reviews on your website and was very dubious as all this seemed too good to be true and claims
            made seemed very similar to so many others I had read and tried, but I did buy and your system just blew me
            away and I have been glued to my piano since downloading the book.</P>

        <p>Thank you for putting the enjoyment back and I have made more progress with this method in 3 days than I had
            in 3 years. I have already started on book 5 and will complete the set I just cant get enough of this type
            of learning, and of course apply all I learn from you to all the numbers I have tried and failed to get 100%
            right. You have remedied this and I am so pleased to have found someone whos claims are more than justified.
        </p>

        <p>Your style is so easy to follow and the video along with the sheet music and the audio, no one could ask for
            anything more. Many thanks and I will write again in about 6 weeks by which time I am confident with your
            help I can at last enjoy what I love doing and that is just to sit and play my piano. All the very best.
            David Morgan.</p>

        <p>(Later update)“Hi Robin, with pleasure use whatever part of it you wish, thank you for such a brilliant
            format just finished a 6 hour stint and getting on brilliantly you have refreshed everything and proving to
            be much more effective than even a face to face tutor. It’s hard work but as I enjoy this so much and at
            last getting the answers I am over the moon. Feel free to include my name and email address and should you
            wish I have included a snap. All the very best, David</p>

        <p>(Later update – after buying book 6)Hi Robin, can’t wait to get my teeth into this one and for that matter
            all of them, it really is all I have said in the past and more, this formula is foolproof, as long as you
            have the motive to carry on, the joy of this is each lesson/page spurs you on, the sky is the limit.
            Brilliant stuff speak soon, you are a fantastic teacher. Anyone doubting this should try it. All the very
            best, David</p>
    </div>
</div>





<div class="testimonial-container">
    <div class="content">
        <div class="name">Gary Cook, UK</div>
        <img src="assets/shared/stars.png">
        <p>Hi, I just wanted to say thank you for the fantastic Piano Tutor Books. I am nearing the end of the first
            book and can now confidently say this is the best tutor book I have ever come across. I find your method of
            teaching piano from a rhythm standpoint very helpful. I have been playing guitar for some years and as a
            result I have been able to relate really well to your method.</p>

        <p>I found with the standard way of learning Piano from other books, that I was struggling from the start. To
            use the guitar analogy it would be like trying to play like Eric Clapton from day one. Using your method, I
            found that I could gain pleasure from playing a backing rhythm almost immediately, just like strumming a
            song on the guitar. Once again many thanks.</p>
    </div>
</div>




<div class="testimonial-container">
    <div class="content">
        <div class="name">Mike Epstein, Ramat Razi’el, Israel</div>
        <img src="assets/shared/stars.png">
        <p>Hi Robin, Your course is everything that you and others said it would be. The lessons are do-able and
            satisfying. Your videos and sound bites make everything quite clear. I didn’t think I could make the piano
            sound this good so quickly. If I weren’t so lazy, I would be doing even better. I would highly recommend
            your course to anyone who wants to learn the piano. Thanks so much. You are making a dream come true.</p>
    </div>
</div>



<div class="testimonial-container">
    <div class="content">
        <div class="name">Bryan Collinsworth, Jacksonville, Florida, U.S.A.</div>
        <img src="assets/shared/stars.png">
        <p>Dear Robin, To start with, I am very, very pleased with the ‘Piano For All’ course. As a 63 year old man I
            find it entertaining, educational and easily understood. I especially like the bite size lessons that
            doesn’t overwhelm the student (me).</p>

        <p>The presentation of easily attained elements based on simple practice and understandable basics (theory) has
            the student playing immediately. Musical goals are accomplished with each sitting, heading towards greater
            keyboard proficiency. In other words…. a sense of accomplishment is immediate and inspires one to continue.
        </p>

        <p>Thanks again for a wonderful course, Best Regards</p>
    </div>
</div>




<div class="testimonial-container">
    <div class="content">
        <div class="name">Andy Godfrey, NY, USA</div>
        <img src="assets/shared/stars.png">
        <p>Hi Robin, Recently bought your series and think it is incredible. My mother was a classically trained pianist
            and my father was a bar room “by ear” player and I always wanted to be sort of combination of them. Your set
            of books has made it all fun for me again. Could never be bothered by all the technical stuff, just wanted
            to sit and play. Piano For All is great.</p>

        <p>Thanks, Andy</p>
    </div>
</div>



<div class="testimonial-container">
    <div class="content">
        <div class="name">John Cheeseman, DeWitt, MI, USA</div>
        <img src="assets/shared/stars.png">
        <p>Robin: I received the CD Rom and have been following the course for over a month now. I just wanted to write
            and tell you that your course exceeded my expectations. I have purchased home piano courses in the past, but
            could never seen to make any real progress. The lessons were either too complicated right from the start
            that I got frustrated and quit or there was too much theory and not enough actual playing music.</p>

        <p>Then, I decided to give your course a try. Is it possible to have fun while practicing the piano. The answer
            in this case is yes. The video’s are easy to follow and each lesson presents something new, but builds on
            the previous skills you have learned. You still have to practice, but the practice is fun. The lessons allow
            you to play and hear recognizable rhythms, while at the same time you are learning chords and music theory:
            a great way to learn! I actually look forward to practice every day.</p>
    </div>
</div>




<div class="testimonial-container">
    <div class="content">
        <div class="name">Eva G. from Sheffield (UK)</div>
        <img src="assets/shared/stars.png">
        <p>Hi Robin, I recently purchased your product and I have to tell you: it’s absolutely wonderful!!! I’m still
            quite a beginner but I can follow your instructions and feel I improve daily! Though I have to admit I watch
            and listen to the videos thousands of times – but once it clicks in – it’s delightful. Thanks ever so much
            for your efforts of putting this whole set together, I’m really glad I’ve found you!</p>

        <p>Eva Gegeny, Sheffield, South Yorkshire, UK</p>

        <p>(later update)Hi Robin, You are absolutely welcome to use my testimony (even the one I’m writing now… feel
            free to select only what you want to put in) and feel free to give my e-mail address to people – I would
            gladly tell them how much your material helped me!</p>

        <p>I have to admit I did purchase a material (which by the way cost much more than yours) about 3 years ago, I
            was really eager to learn but it was so hard to follow that I got totally discouraged and since than I’ve
            hardly touched my keyboard. I got frustrated as my limited playing sounded boring and when I asked anyone
            (including a piano teacher) I was told: don’t worry just keep practicing. Now I know I was right –
            practicing what? If I don’t have a foundation – what can I build upon? This material has just given me this
            foundation – I didn’t only learn lots of rhythms and styles but I had my breakthrough in the ballad style
            for the first time The material is obviously not just for me who’s just starting this journey but for the
            more advanced ones too, so I saved the whole set for later times and keep coming back to it.</p>

        <p>As you can tell Robin I am very happy – as what I learnt from you I’m sure I would have paid a fortune to
            teachers for not even near this high quality! You made it really affordable and I can only thank you
            again!!!!</p>
    </div>
</div>




<div class="testimonial-container">
    <div class="content">
        <div class="name">Vivian Bell, Fairborn, Ohio, USA</div>
        <img src="assets/shared/stars.png">
        <p>Robin, Thank you so much for this course. I have wanted to learn to play my favorite instrument as long as I
            can remember. Now that I’m an adult, I am so glad to not have to learn from the child books. Already being
            able to play popular songs just amazes me! I am having so much fun.</p>

        <p>Thanks again</p>
    </div>
</div>



<div class="testimonial-container">
    <div class="content">
        <div class="name">Bob Stuart, Aberdeen, Scotland</div>
        <img src="assets/shared/stars.png">
        <p>Hi Robin, One year almost to the day ( I slipped up I intended to make it one year exactly ) I emailed you
            this.</p>

        <p>Hi Robin, I intend to give this course all I’ve got, but I’ve just turned FIFTY, and NEVER played, or tried
            to play any type of musical instument before. So if I can succeed and manage to play even a few tunes i’ill
            feel I’ve accomplished something, AND SO WILL HAVE YOU. I will get back to you in due course to inform you
            of my success. ( Let’s be possitive eh? ).</p>

        <p>Bob Stuart</p>

        <p>(later update) Well how did I do, nae bad at all. You have ( And this is no overstatement ) changed my life.
            I have always liked music but only to listen to. I can play that few tunes I set my goal as, only now I want
            to progress a little more. I must confess I have turned to the keyboard rather than the piano, a lot easier
            for a man my age to play just chords with the second hand.</p>

        <p>I really do enjoy my time at my keyboard and find it so relaxing it;s not real. What’s the best tip you can
            give me to keep improving, ( and your not getting away with practice ). Feel free to pop this onto your web,
            because you are a GENIUS Robin and i mean that most sincerely. Thanks ever so much, and start charging a lot
            more for your superb way of teaching.</p>
    </div>
</div>




<div class="testimonial-container">
    <div class="content">
        <div class="name">David Petraccoro, Barnegat, New Jersey, USA</div>
        <img src="assets/shared/stars.png">
        <p>Hi Robin, just a quick note, this is david from barnegat, new jersey i started your course about three months
            ago, i am on book 3 and still think the course is just great. books 1 and 2 were just the best, i really
            look forward to sitting down at the piano now, and just have fun the licks and songs you use are just what i
            am looking for. i am 59 years young and grew up with all those tunes. keep up the great work and i will stay
            in touch, thanks again, david.</p>
    </div>
</div>


<div class="testimonial-container">
    <div class="content">
        <div class="name">David, Alabama, USA</div>
        <img src="assets/shared/stars.png">
        <p>Hey, Robin. This is David from Alabama writing you again. Just wanted to give you an update and some more
            thanks.</p>

        <p>For anyone questioning whether they should purchase this course or take a more traditional method to learning
            the instrumentI can testify that they would be much better off with Piano For All. I have just completed my
            degree in Music at the local college. The knowledge I gained from your course is largely responsible for my
            having the highest marks in Music Theory I and II.</p>

        <p>One can study for years the traditional method of piano with public domain songs that no one wants to hear
            (or play) and never come close to the understanding they will gain from a month of Piano For All. The reason
            is that you teach first how music is put together (how chords are formed and the rhythms in which to play
            them) and then talk about reading. You go strait to the heart of the matter. Not only do students play
            faster they understand more about music. This knowledge of chords (being able to name the notes of the
            triads and various seventh chords) is the reason I did better than everyone else.</p>

        <P>Do you still sell the actual printed books? I would love to have them to go through every month or so. You
            are not just selling books. You are selling the wisdom of an experienced musician. Thanks again. Good luck.
        </P>
    </div>
</div>



<div class="testimonial-container">
    <div class="content">
        <div class="name">Andrew Wortley, Huddersfield, England</div>
        <img src="assets/shared/stars.png">
        <p>Hi Robin, Just wanted to let you know how much I am enjoying your Pianoforall course. I ordered the complete
            course and have just worked my way through Book 1. It is very very well put together, with simple tuition
            video’s and very enjoyable exercises.</p>

        <p>Like many people I have struggled with traditional piano courses but have found the chord based approach very
            much easier and satisfying to play. My main aim is to play rock and blues based piano and already book one
            has given me a huge start on the techniques and ‘turnarounds’ needed for this type of playing.</p>

        <p>Thank you very much. I am very satisfied with my purchase and am very happy for you to use my testimony for
            others. Regards,</p>

    </div>
</div>



<div class="testimonial-container">
    <div class="content">
        <div class="name">Bob Bowen, Conway, Arkansas</div>
        <img src="assets/shared/stars.png">
        <p>Robin – PFA has been absolutely wonderful! Although I already knew the major and minor chords, the patterns
            that you set up to play these different chords and the songs that are associated with them are brilliant and
            I’m having a ball. You have “de-fanged” the piano for me. Forever I LOVED the sound of great piano players
            (Keith Emerson/Keith Jarret/Bobby Short are three of my hero’s) and have always marveled at folks that could
            sit down and just start playing by ear. I always thought that they were some sort of musical prodigies and
            that piano was so beyond my reach.</p>

        <p>What really amazes me about PFA and the way you present the material is I keep having moments of “is that all
            they are doing? that’s all their doing!? this isn’t such a big mystery after all and why, oh why did I let
            piano intimidate me for soooooooo long?”.</p>

        <p>I’m certainly not saying that piano is a breeze and I’ve figured it all out and no more struggle, etc; what I
            am saying is that your course has given me basic tools and built by confidence so high that I do not fear
            wading into harder material. I no longer think, “this is beyond me and only musical geniuses who have had
            hundreds of years of lessons are capable of playing”. In other words, this course is very liberating, simple
            to grasp, laid out in an easy to follow format and gets you playing in NO TIME! Granted, I’ve only finished
            half of book one, but already I catch myself looking into the other books with great anticipation!</p>

        <P>I'm not meaning to over blow my reaction to this course, but the longing to play piano has always been so
            great along with my doubts that I wasn’t ‘smart enough’ or talented enough to play. I also trace my lack of
            confidence back to formal musical lessons that were so ring/confusing/convoluted that I quit in frustration.
            Why piano is not explained in the manner that PFA teaches is completely beyond me! Why most piano teaching
            starts out in a classical mode (the books and methods all seemed geared towards this goal) is beyond me! It
            is akin to teaching teenagers to drive a car BUT before they can do so they must FIRST have 4 years of
            physics class to understand motion and acceleration, etc.</P>

        <p>Anyway, sorry to rant but to say I’m pleased with the course would be an understatement. I’m thrilled. I’m
            not one who deludes himself to think that this course will have me opening for Randy Newman anytime soon or
            will be throwing out some Art Tatum tomorrow, but it has given me a great grounding for further exploration
            of the piano in the future without the fear that I’m not good enough or that the piano is unfathomable.
            Thanks so much. Sincerely – Bob Bowen</p>

        <p>(later update)Robin – hope you are feeling better. Certainly feel free to use my testimonial on the site. PFA
            has helped the “scales” fall from my eyes (no pun). I feel like I’ve been ‘duped’ for many years by
            traditional piano teaching (which I quit in frustration)and just shake my head at your material and think to
            myself, “why does traditional piano teaching make this so hard?”. It does certainly have its place but the
            vast majority of people wanting to learn piano want to sit and play favorite tunes and hymns, etc. and not
            classical music – which I love/appreciate but have little desire to play. Again, thanks! $$$ well spent and
            I’ll keep you posted from time to time on my progress. Sincerely.</p>

    </div>
</div>




<div class="testimonial-container">
    <div class="content">
        <div class="name">Tommy, NYC, USA</div>
        <img src="assets/shared/stars.png">
        <p>Hey Robin we have spoke a while back about your course..I started on book one and it is awesome.. I play
            acoustic guitar and sing but i am so excited to play piano now, and it so easy to create chord progressions
            with your method that the second day already im playing let it be progression…what is your suggestion should
            i just follow each page and dont move on till i master each page? Thanks..it was a blessing finding you,
            music is my life.</p>

    </div>
</div>




<div class="testimonial-container">
    <div class="content">
        <div class="name">Regs, Adrian Pote, Ipswich, England</div>
        <img src="assets/shared/stars.png">
        <p>Robin, I am halfway through the first book. Its a brilliant course which suits the way I wanted to learn
            perfectly. I will certainly recommend it. I am learning lots and having fun in the process.</p>

    </div>
</div>


<div class="testimonial-container">
    <div class="content">
        <div class="name">Jan Persson, Burlöv Municipality, Sweden</div>
        <img src="assets/shared/stars.png">
        <p>Hi Robin, Started with the first book today, and I must say that this is excellent material.
            I used to play the electric organ when I was a kid, and my problem is that I never really learned how to use
            my left hand, since I was taught to just play straight cords with that hand. Your course has really showed
            me the way after a few hours of practice and I look forward to learning more from the rest of the books.
            Best Regards.</p>

    </div>
</div>



<div class="testimonial-container">
    <div class="content">
        <div class="name">Dennis. Canada</div>
        <img src="assets/shared/stars.png">
        <p>Robin, Thanks very much for the CD – I have received it. I am really happy with this purchase, and as
            advertised, it’s exactly what I was looking for. I played drums when I was younger and I still play now but,
            I always regret not learning to play the piano. Now that I’m in my mid 40′s, I’m trying to do just that, but
            of course, the traditional method of learning to play the piano could be quite difficult and time consuming.
            I knew there were tricks and patterns to playing piano with a natural feel. I just needed something to guide
            me and your method is right on.</p>

        <p>I’m pretty good with reading note values and time signatures and I do have a good ear but, I struggle with
            reading pitch – especially on both clefs. Your method greatly accelerates the site reading process. Now, if
            I could only tempt my kids. One’s into guitar and the other doesn’t know what he wants to do. He always
            looked at piano as this difficult impossible thing to play. Maybe this course might change things.</p>

        <p>You have structured this course very well and it creates an enjoyable learning process. Great course. Thanks
            again,</p>

    </div>
</div>


<div class="testimonial-container">
    <div class="content">
        <div class="name">Jeff Hinton, Lehi, Utah, USA</div>
        <img src="assets/shared/stars.png">
        <p>I really like your program. I actually bought it for my son. It basically teaches how I learned to play piano
            after years of frustration with trying to sight read. However, I had to teach myself by using the chord
            symbols above the staff in sheet music. I got pretty good at it, but I know that your program will motivate
            me and teach me a lot more. You have everything perfectly laid out in a great sequence. Nice job!, Thanks,
            Jeff</p>

    </div>
</div>


<div class="testimonial-container">
    <div class="content">
        <div class="name">Ed Hoare, London, England</div>
        <img src="assets/shared/stars.png">
        <p>Robin, I just wanted to send a message to say “thank you” for your brilliant piano course.</p>

        <p>I grew up playing (mainly) classical piano, starting at 6 and carrying on until I left home at 18. By that
            time I was pretty good at rattling through Beethoven’s sonatas, but was always frustrated because I could
            barely play Mary Had a Little Lamb without sheet music.</p>

        <p>My piano playing has been pretty sporadic for the 15 years since then, but a small upright has fallen into my
            lap, so to speak, and I was determined to get stuck in again. I wanted to avoid Bach this time around, so
            your course has been a total god-send! My hands still seem to know roughly how to find the notes, so I’ve
            been able to get through the first few books over a week or so to pick up the techniques.</p>

        <p>I am now well armed with enough rhythms and chords to have a really nice basis to practice by playing them
            all (to tunes or with things like your circle of 5ths). Your system has been really helpful in getting me
            there quickly and now I just have to play lots and slowly build up my playing.</p>

        <p>All those years playing classical and I never really developed a basic understanding of chord sequences.
            Can’t get enough of those inversions now!</p>

        <p>Thanks again Robin. I hope I remember to let you know how I progress from here. The trick is to not fall out
            of the habit of playing (that much I learned from before), and by picking things up the way you have laid
            them out I’m confident that I won’t fall out of that habit. Good work! All the best,</p>

    </div>
</div>



<div class="testimonial-container">
    <div class="content">
        <div class="name">Kim Luxton, New South Wales, Australia</div>
        <img src="assets/shared/stars.png">
        <p>Hi Robin, Thanks for your mail. I forgot to include in my address that I am in Australia. I’ve downloaded
            book 1 and have not touched any other instrument since starting on it. I practice until my hands have
            cramped up and can take no more. It’s a wonderful instruction book. Thanks,</p>

    </div>
</div>



<div class="testimonial-container">
    <div class="content">
        <div class="name">Gary Dichtenberg, Roswell, GA 30075</div>
        <img src="assets/shared/stars.png">
        <p>Robin, Love the program. I am hooked on learning and you’ve made it even more interesting. What impresses me
            the most, however, is the soft and clear presentation of the materials. No ego. No selling. Just music. Your
            bonus book explained alot. Thanks for helping. If you are ever in Atlanta you have a place to stay.</p>

        <p>With thanks and regards,</p>

    </div>
</div>


<div class="testimonial-container">
    <div class="content">
        <div class="name">James Thomas, Resaca, Georgia, USA</div>
        <img src="assets/shared/stars.png">
        <p>Robin, I just had to send you a quick email and say thanks for putting this course on the internet at such an
            affordable price. I got it about 2 weeks ago and it is incredible. I have tried numerous programs in the
            past only to find that I got ripped off but this is truly awesome. thanks.</p>

    </div>
</div>


<div class="testimonial-container">
    <div class="content">
        <div class="name">Skip Goetz, Cotter, Arkansas, USA</div>
        <img src="assets/shared/stars.png">
        <p>Hi Robin, I love your course, you are a Great Teacher with have a really effective way to teach, I like your
            format, and explanations of the lessons, easy to understand and very effective. I would have never learned
            these techniques with any other course, at least not without years of study. Thanks Again, Take Care.</p>

    </div>
</div>


<div class="testimonial-container">
    <div class="content">
        <div class="name">Francis, Clairefontaine-en-Yvelines, France</div>
        <img src="assets/shared/stars.png">
        <p>I’ve just started your book 1 and found it great. This is a very pedagogical way of thinking the language of
            piano. I tried some chords and it sounds like “REAL MUSIC’. As a french beginner, I thought I would have
            some difficulties with the course in english but in fact you are using very simple words and it is very easy
            to understand the explanations.
            Thank you very much for this great course</p>

    </div>
</div>



<div class="testimonial-container">
    <div class="content">
        <div class="name">Mila, New York, USA</div>
        <img src="assets/shared/stars.png">
        <p>Hi, Even in these beginning stages (I am only about halfway through the first book) I just wanted to let you
            know how brilliant and effective and fun this way of learning is! There is no course out there that I know
            of that knows the human musicality and how to tap into it, like you.</p>

        <p>Whoever invented the steps, and even wording of your copy in the course is wonderful, is a great mind! I am
            finally playing the piano. The idea of being able to do that has eluded me all of my life, because of the
            myth of it being too difficult and more complicated than other instruments. It is not.</p>

        <p>Is there anything else you are teaching, because whatever it is I will buy it. Teachers like you are hard to
            find in the world. Thank you so much.</p>

    </div>
</div>


<div class="testimonial-container">
    <div class="content">
        <div class="name">Trevor Naidoo ( South Africa )</div>
        <img src="assets/shared/stars.png">
        <p>Hi Robin, I’ve recently purchased your course on piano for all and have found it to be really exciting and
            easy to understand. Thank you for a wonderful course. Kind Regards</p>

    </div>
</div>



<div class="testimonial-container">
    <div class="content">
        <div class="name">Devon Bloomfield, NJ, USA</div>
        <img src="assets/shared/stars.png">
        <p>This program definitely helps me understand chords and read sheet music very easy. Greatest piano program
            ever. Its worth ten times the price.</p>

    </div>
</div>


<div class="testimonial-container">
    <div class="content">
        <div class="name">Luis Garcia Sieiro, Spain</div>
        <img src="assets/shared/stars.png">
        <p>Robin: Download performed perfectly! I am very happy to have chosen this purchase, and I think that your
            attention service is fantastic because I’ve answered my problem immediately. When I start tomorrow to learn
            piano with the first book I am sure that I love. When the time I will inform you by mail of my progress.
            Thank you very much indeed for your quick reply.</p>

    </div>
</div>



<div class="testimonial-container">
    <div class="content">
        <div class="name">Justin Forster, Victoria, Australia</div>
        <img src="assets/shared/stars.png">
        <p>Ok that’s all done. Well done for putting together such a well informed product and delivering it in a
            logical and progressive manner. Here is my testimonial if you would like to use it.</p>

        <p>Robin, I have found your product to be the breath of fresh air that my piano playing has needed. It is really
            quite an outstanding approach for people like me who have some piano experience already. I just can’t wait
            to get to the later books. Well done for putting together such a well informed product and delivering it in
            a logical and progressive manner. Kind regards,</p>

    </div>
</div>



<div class="testimonial-container">
    <div class="content">
        <div class="name">Martin E Neltner, President, Neltner Billing and Consulting Independence, Kentucky, USA</div>
        <img src="assets/shared/stars.png">
        <p>Who would ever thought at age 60 that I could learn to play the piano. Your instructions make it fun and
            challenging to practice practice so you can move to the next lesson. I am in book one almost to the end in
            less than 10 days. Thank you for making an ole man feel good about himself. I am showing up my grandkids who
            never would dream I could do this.</p>

        <p>Martin E Neltner President, Neltner Billing and ConsultingIndependence, Kentucky, USA</p>

    </div>
</div>



<div class="testimonial-container">
    <div class="content">
        <div class="name">David Price, Great Missenden, Buckinghamshire, England</div>
        <img src="assets/shared/stars.png">
        <p>Hi Robin,I have checked yor instructions in your marvellous 1st few sheets and applied them and when Hit the
            button that said “Etract all Files”. Everything opened up and worked. All the Audio and Video files all work
            on all the Books.</p>

        <p>I am so thrilled with your course, I spent 10 years on piano lessons from Age 10 to 20years and never learnt
            anything like this. My new Yamaha Digital piano arrives tomorrow. But I have been looking through the course
            while I am waiting for it to come.and I am so excited and bowled over by your course. I cannot begin to
            express my appreciation to you for such a wonderful course. I regret terribly not knowing something like
            this years ago.</p>

        <p>Thank you again. And if I may I will E-Mail you from time to time to tell you of my progress. With Kind
            regards.</p>

    </div>
</div>



<div class="testimonial-container">
    <div class="content">
        <div class="name">Jim Shanks, Sunderland, Tyne and Wear, England</div>
        <img src="assets/shared/stars.png">
        <p>Hi Robin, just finished downloading and all is working perfectly again. Subfolders now have contents and are
            stored on my desktop.</p>

        <p>I am so thrilled with your course, I spent 10 years on piano lessons from Age 10 to 20years and never learnt
            anything like this. My new Yamaha Digital piano arrives tomorrow. But I have been looking through the course
            while I am waiting for it to come.and I am so excited and bowled over by your course. I cannot begin to
            express my appreciation to you for such a wonderful course. I regret terribly not knowing something like
            this years ago.</p>

        <p>Thanks for your rapid replies to my queries. I wish I had the dedication to study your books every day, they
            really are working and the videos help tremendously. I can play something that sounds decent very quickly
            which is very encouraging. Thanks again.</p>

    </div>
</div>



<div class="testimonial-container">
    <div class="content">
        <div class="name">Paul Catchpool, Bath, England</div>
        <img src="assets/shared/stars.png">
        <p>Hi Robin, Just wanted to say that although I have only just begun to tackle the 1st book, on nearing
            completion, I have learned more in the last couple of weeks than I have in years of messing around trying to
            cobble bits and pieces of theory and practice together – without I may add any success.</p>

        <p>As a teacher myself I know how important it is to get into the head of the learner in order to discover ways
            to make things innovative and creative in order that things may stick. So far, from the very simple but
            incredibly effective way you have put this first book together, you have shown that you have a real talent
            and an intuitive way of teaching.</p>

        <p>I only hope the others in the series are as good as this on – I’m sure they will be; just wish I had more
            time to explore them!! Regards,</p>

        <p>Paul</p>

        <p>PS – please feel free to use any or all what I have written for your marketing purposes. Credit where it’s
            due!!</p>

    </div>
</div>



<div class="testimonial-container">
    <div class="content">
        <div class="name">Rosalind Smith, East Ayrshire, Scotland</div>
        <img src="assets/shared/stars.png">
        <p>Dear Robin, Really I have said it all in the subject title! Many thanks for the prompt delivery of the Piano
            For All CD. It arrived the next day. Very impressive! I am thoroughly enjoying your piano course. Although
            not a total beginner, I have not played for years and I did not reach a great standard when I did play. I
            was somewhat daunted at the thought of all the boring practice exercises I would have to do again, even
            though I know it is worth it in the long run, but you have turned my ideas round.</p>

        <p>I have even been heard singing (!) some of the tunes (and believe me I have NO voice!) while playing through
            the various chord exercises. I never did that before. Also, the way you set out the course, with the little
            audio clips, is very good for making me really listen to the music – another simple thing I didn’t realise I
            was not properly doing before.</p>

        <p>The video clips are also excellent – actually to see what I should be doing is so helpful. The fact that I
            can return over and again to any part I feel I need to improve is a much better way of proceeding. You can’t
            phone up a piano tutor every five minutes if you have forgotten something. I have only worked through Book 1
            so far, but I am much encouraged. Again, thanks, Yours, Rosalind</p>

    </div>
</div>



<div class="testimonial-container">
    <div class="content">
        <div class="name">Janet of Ohio, USA</div>
        <img src="assets/shared/stars.png">
        <p>Robin, Thanks so much for your answer to my question and the website to check out. That was a really fast
            reply !!! I feel better that you agree that hymns are difficult to play. At least I will not get too
            discouraged if I have trouble learning how to play them.</p>

        <p>p.s. I plan to continue learning the rest of the course. Hope a lot of people realize what excellent material
            is contained in your course and that it is the best out there. Thanks again and take care. Best regards,</p>

    </div>
</div>




<div class="testimonial-container">
    <div class="content">
        <div class="name">Mary Fran Cardamone, Des Moines, IA, USA</div>
        <img src="assets/shared/stars.png">
        <p>Robin, Thanks for the information! I really like all your memory techniques….I have never been exposed to
            that before….they really help. I had my doubts about an on-line course but this is by far the best
            instruction I have ever had. Anyway… thanks again.</p>

    </div>
</div>



<div class="testimonial-container">
    <div class="content">
        <div class="name">Philippa Riddell, Christchurch 8041, New Zealand</div>
        <img src="assets/shared/stars.png">
        <p>Hi Robin, I have been testing out your Piano for All series with my pupils who are 7-12 years old.</p>

        <p>I usually use the Piano Adventure Series with them but I find that the classical ‘I, IV, V’ chord names they
            teach need to be supplimented by the ‘letter’ chord names so that children can understand they are the same
            thing just said differently. I downloaded three different chordal piano series and brought several books but
            I found yours to be the easiest to use with my pupils. The children are not the fastest but the great thing
            about children is that they don’t expect to learn things all in one go and are happy plugging away slowly
            each week.</p>

        <p>I find that once they get to book 2B they are ready to have the Piano Adventure Series supplemented with your
            series. I have several of boys who really like Jazz and Rock so this method should be very good for them.
            The problem with children who are only trained using the classical method is that when they reach high
            school and wish to ‘join a band’ they have no idea what the guitarists etc are talking about. I’m sure that
            your method will make that transistion a LOT easier.</p>

        <p>I have only brought one copy but now that I have used it for a few weeks and the pupils are interested in it
            I am planning on getting my pupils who are benefiting from it to buy it themselves. So you can expect to see
            a few sales from New Zealand in future.</p>

        <p>Thank you for such a well thought out and presented series. Regards,</p>
    </div>
</div>



<div class="testimonial-container">
    <div class="content">
        <div class="name">Melissa B.</div>
        <img src="assets/shared/stars.png">
        <p>Hi Robin, I bought your course over a year ago but I only had a cheap keyboard at the time. I downloaded all
            the material and then put it away until I could get a better keyboard. I’m 18 years old and I took piano
            lessons as a child for 5 years, but I must say that I never learned anything from traditional piano lessons
            that I am learning from this course. In this course you teach everything, and I mean EVERYTHING a person
            should learn in order to play piano like a professional.</p>

        <p>In this course, I am learning music and chord theory without even realizing it. And I am also learning
            everything I should have learned through traditional piano lessons, but I didn’t learn because the lesson
            structure just wasn’t holding my attention and I gave up very young. The amount of time and quality you have
            put into this is unbelievable. I did not expect this much when I bought the course. I absolutely love this
            course, so thank you!</p>
    </div>
</div>



<div class="testimonial-container">
    <div class="content">
        <div class="name">Sincerely, AngeliQue, USA</div>
        <img src="assets/shared/stars.png">
        <p>Dear Robin, I just wanted to say thanks for all your help! I’m so excited to start, I’m getting ready to go
            down to my piano now… I looked at 6 different online courses and almost bought two before I came across
            yours, I’m so glad I waited. Yours was better laid out, with more info and a professional feel, yet with
            ease that looked appealing! Thanks a million…</p>
    </div>
</div>



<div class="testimonial-container">
    <div class="content">
        <div class="name">John Grissim, Sequim, WA , USA, (west of Seattle, on the Olympic Peninsula)</div>
        <img src="assets/shared/stars.png">
        <p>Dear Robin, I just yesterday purchased and downloaded your entire course, burned it to a CD, and began
            browsing the pdfs and associated audios and videos to make sure everything works OK.</p>

        <p>Everything’s perfect, and I can’t tell you how excited I am. And for only $40, no less. Incredible. I’m a
            journalist who cut his teeth writing for Rolling Stone (1968-75) in San Francisco (I wrote a cover story on
            Van Morrison in 1971), and I have long cherished the dream of learning piano, esp. blues.</p>

        <p>I’ve spent hours this past year searching the Internet for a self-teaching course and I’ve been so
            disappointed by what’s out there. Dreadful stuff, really. Who the hell wants to start off learning Danny Boy
            or Jingle Bells when what I want is Lady Madonna and Great Balls of Fire (I profiled Jerry Lee, too, what a
            hoot that was).</p>
        <p>So, I count as a miraculous day that I found your site. You’ve really put it all together, makinfg full use
            of the power of Acrobat and QuickTime. No other course comes close. Your concept and execution is brilliant.
        </p>
        <p>Just yesterday I bought a used Yamaha YPT-300 digital keyboard and stand (61 keys pressure sensitive), and
            I’m thrilled. I am one motivated student, and I look forward to writing a testimonial soon. I wish you every
            success. Thanks!</p>
    </div>
</div>



<div class="testimonial-container">
    <div class="content">
        <div class="name">William Fernandez</div>
        <img src="assets/shared/stars.png">
        <p>First let me say that the course is phenomenal. Always, I’ve asked myself how pianists played so
            effortlessly. Your course answers the questions I’ve asked myself for years and spent lots of money
            purchasing courses trying to have my questions answered. Much success!</p>
        <p>Thank You,</p>
    </div>
</div>



<div class="testimonial-container">
    <div class="content">
        <div class="name">William Wright</div>
        <img src="assets/shared/stars.png">
        <p>First testimonial Just from looking at the course. Feel free to use it for advertising if you need to.</p>
        <p>Robin, Words to describe your course…Simply Unbelievable!
            I just bought and downloaded everything to my computer. The process was so easy. I am a 56 year old guy who
            has wanted to play the piano my entire life. I really have not jumped in to doing the course as of yet,
            because I’ve been spending the whole day browsing through it all.</p>
        <p>I dug my musical instruments out of the closet [2 guitars and Yamaha keyboard] wiped off the dust ordered
            your great piano course and now I’m ready to make some music. From browsing through the course I can tell
            you it’s all there. Nothing is left out! I am so excited to get started, so thanks for everything at such a
            great price.
            Best Regards,</p>
    </div>
</div>



<div class="testimonial-container">
    <div class="content">
        <div class="name">Lawrence Schau</div>
        <img src="assets/shared/stars.png">
        <p>Dear Robin, First let me just tell you how great your course is. For years I have wanted to learn the piano
            and your course is making that possible. Thanks so much.</p>
    </div>
</div>



<div class="testimonial-container">
    <div class="content">
        <div class="name">Jim McMahon, Arizona, USA</div>
        <img src="assets/shared/stars.png">
        <p>Thanks Robin for your help. Cleared the cache and was able to download. A note on your PFA. My wife bought
            the course and is working through it. I think it’s a wonderful course. I am impressed by all the work you
            put into it. Videos, samples, book. Everything is laid out with simplicity and clarity. Couldn’t be better.
            Many things not explained in other beginner courses. Thanks again. Regards,
        </p>
    </div>
</div>



<div class="testimonial-container">
    <div class="content">
        <div class="name">Frederick Renton, Cincinnati, USA</div>
        <img src="assets/shared/stars.png">
        <p>Hey Robin, I received your course and wish to thank you for the wonderful gift. I’m well into Book 1 and love
            what I read. Your approach is fantastic. I love your way of telling the student to relax, Don’t get excited,
            and do as I say. It’s quite a lesson to realize that you have removed all responsibility from the student,
            and say, do as I say and all will be O.K. I would like to continue to communicate with you as I progress,
            and yes I will tell folks that I meet, about You, and your course. Always the Best and God Bless, Frederick
            Renton.</p>

        <p>(later update)Dear Robin, I’m sending you a belated congratulations. I was going thru an advertisement for
            Yamaha Keyboards and Pianos and found a reference to a new Product Yamaha was pushing. They have removed all
            their prior advertisements for teaching materials and only recommend one source, and who do you think it is?
            That’s absolutely correct, Piano For All. I told you earlier, I thought your course was very good, but,
            their captivated by it. Again, congratulations and all the best of Luck. Your Old Student and Friend.
            Respectfully,</p>
    </div>
</div>



<div class="testimonial-container">
    <div class="content">
        <div class="name">Alex Wright, Perth, Western Australia</div>
        <img src="assets/shared/stars.png">
        <p>Hi Robin,I received the CD of the complete pianoforall series in good time today , so thankyou for that. Just
            let you know, I’m just about through the first book, and i must say its been wonderful so far. You’re right
            how quick one can pick up piano basics so quickly, and further more such an interesting teaching technique.
            So I am really getting a lot out of it. Cheers</p>
    </div>
</div>



<div class="testimonial-container">
    <div class="content">
        <div class="name">All the best Mike Hatton, UK</div>
        <img src="assets/shared/stars.png">
        <p>Thats great thank you, I would just like to let you know i thought the fist five books were really helpful,
            the books were really easy to understand by the simple but effective layout, it was great to put all the
            information together and get a really good sound, Cant wait to read through the next five.</p>
    </div>
</div>



<div class="testimonial-container">
    <div class="content">
        <div class="name">Ann Thomas, Ross-on-Wye, Herefordshire, England</div>
        <img src="assets/shared/stars.png">
        <p>Hello Robin – Just wanted to say how much I am enjoying your course – I find your videos along with the books
            so easy to understand, though I have to practice many, many times before I get my hands working together!! I
            am plodding along at my own pace and even like practicing! Can’t thank you enough!</p>

        <p>Kindest regards,</p>
    </div>
</div>



<div class="testimonial-container">
    <div class="content">
        <div class="name">Daniel Ravagli, Italy</div>
        <img src="assets/shared/stars.png">
        <p>Hi Robin, I needed to contact you to share my excitement.</p>

        <p>It’s hard to believe but I actually study piano in a conservatory. I purchased Pianoforall because the limit
            of my formal education are unbelievable. I have been trained to read sheet music and like a robot to
            translate what is written in physical motions at the piano. That’s it. My classmates and I don’t really
            understand music and don’t really have a clue of what we’re doing or what music is, we’re just trained to be
            robots playing robotically. As you said it’s like reading aloud correctly something in a foreign language
            without understanding what you’re saying. What really saddens me is the little focus on music itself. It’s
            like as if the teachers themselves forgot that the final goal is being able to make beautiful music.</p>

        <p>I’d like to be a well-rounded musician and I’d like to understand the music I play, I’d like to feel the
            rhythm inside my body and I’d like to be able to arrange, improvize and compose. That’s why I think your
            course is perfect for me.</p>

        <p>I’ve been working on the rhythms in book 1 these days and I’m so excited not only because I’m learning lot of
            important stuff but also because practicing those rhythm have improve my sense of rhythm even in the
            classical pieces I play. Rhythm has always been my weak point and just practicing your book 1 for one week
            improved by Bach and Mozart in an amazing way and even my teacher is amazed at how more rhythmically precise
            and clean they are.</p>

        <p>Thanks! I will keep you updated on my progresses as I move to the other books.</p>
    </div>
</div>



<div class="testimonial-container">
    <div class="content">
        <div class="name">Veronica Gudgeon in Queensland, Australia</div>
        <img src="assets/shared/stars.png">
        <p>Robin, pianoforall is a delight, starting to play piano for the first time, i know i am very fortunate to
            have found this great program on the web, having looked for helpful programs online , i came across pianofo
            all, and feel like i won the lottery, when i chose this one, i would recommend pianoforall to anyone, it
            surely lives up to its name, and comes with great contact by email with your good self Robin,
            Congratulations to you for what i believe to be the best program for learning to play piano on the on all of
            the web. thank you again Robin Best Regards to you, and fellow pianonliners.</p>
    </div>
</div>



<div class="testimonial-container">
    <div class="content">
        <div class="name">Dave Foston</div>
        <img src="assets/shared/stars.png">
        <p>Hi Robin, One week gone and I’m enjoying the first book. Found some difficulty at the beginning with the
            fingering you suggested as I had been using fingers 1, 2 and 4 as a chord book had suggested prior to
            purchasing your course. However I stuck with it and after a couple of days 1, 3, 5 became more natural. I’ve
            got through to the country shuffle although not everything is perfected. I have downloaded tabs for a number
            of the songs from each section that you have suggested at the back of the book. So I have those to work on
            too. Each day I go back and redo the early stuff before trying something new and then I finish with playing
            songs. Some days I’ve been able to spend several hours at the keyboard.</p>

        <p>So far so good and I’m really enjoying it all so far. And my wife hasn’t complained yet but she is always
            very supportive of what I try to do.</p>

        <p>Kindest regards</p>
        <p>Dave Foston,</p>

        <p>PS I thought you ought to know that I’m a 56 year old teacher of Computer Science and Maths. I’ve spoken
            about your course to a couple of colleagues and shown them the materials.</p>
    </div>
</div>



<div class="testimonial-container">
    <div class="content">
        <div class="name">Lee Midwinter, USA</div>
        <img src="assets/shared/stars.png">
        <p>Hi Robin, I like how you set out the course. I think it’s important to be able to sit down and just play a
            few simple tunes early on or else you just get bored and give up.</p>

        <p>I found the quick time movies the best. I’ve read about the circle of 5ths before but only after your
            demonstration realised I had mis- understood it and how useful it is.</p>

        <p>The only trouble I have is getting the time for practise…but then I can’t expect you to sort out all my piano
            problems Keep up the good work.</p>
    </div>
</div>



<div class="testimonial-container">
    <div class="content">
        <div class="name">Steve from Trinidad & Tobago W.I</div>
        <img src="assets/shared/stars.png">
        <p>My only interest is learning to play Gospel Music. So I have been purchasing only Gospel courses for over 3
            years. Pianoforall is the only course that really teaches you the basic foundation using various rhythms,
            songs and techinques plus more & more advance stuff.</p>

        <p>There are so many things to say… If I asked back for my money I would not be able to sleep & God would not
            forgave me. This is the course Pianoforall I have been searching for a long time. I am in my 3rd book…it’s a
            blessing.</p>

        <p>May God continue to Bless You & Family. Have a Blessed Day Robin.</p>
    </div>
</div>




<div class="testimonial-container">
    <div class="content">
        <div class="name">Keith Wright, Florida, USA</div>
        <img src="assets/shared/stars.png">
        <p>Robin, Your course is exceeding my expectations. I have been working diligently through the first book and I
            wish I had found this long ago. This has to be one of the best-kept secrets in piano instruction. The audio
            and video clips are excellent.</p>

        <p>While I applaud your philosophy, this course is worth far more than you are charging. Thanks again and I am
            going to get back on the piano. Warm Regards,</p>
    </div>
</div>



<div class="testimonial-container">
    <div class="content">
        <div class="name">Bob Dade, Hoddesdon, UK</div>
        <img src="assets/shared/stars.png">
        <p>Hi Robin, This is a rattling good course. I have only just started on the tutorials and I really like the way
            you break down the accompaniments into separate styles.</p>

        <p>I have bought quite a few courses and they all have their good points, but it’s good to learn from someone
            who is doing some teaching [to the musically dyslexic such as myself], and not just showing what a great
            pianist they are.</p>

        <p>I have played guitar and banjo for a few decades and it is good to be able to move sideways into keyboards.
            The way you present it, it is almost as if, when teaching the various piano styles, you are talking about
            guitar / banjo rolls, which is something that I understand. Good stuff, sir. I look forward to seeing
            whatever else you produce. All the best.</p>
    </div>
</div>



<div class="testimonial-container">
    <div class="content">
        <div class="name">George C. Cruz, Rockville, MD, USA</div>
        <img src="assets/shared/stars.png">
        <p>Your teaching method is phenomenal. There’s a lot of shortcuts and easy tricks. I say you have the talent to
            teach and make it easy on your students. I am very sure I will benefit a lot more from you. Within a short
            period of time, I noticed a great change in the way I play piano and for that matter my guitar playing
            improves too. Thank you so much and more power to you. God bless.</p>
    </div>
</div>